{% extends "base.html" %}
{% load extra_tags %}
{% load humanize %}

{% block title %}Other Head{% endblock %}

{% block content %}
<div>
    {% if "Grim Pragmatism" in active_dominion.learned_discoveries %}
    <div class="max-w-md">
        <form action="{% url 'corpsify_press_gangers' %}" method="post" class="u-flex u-flex-row u-gap-1 card card_colors p-1 max-w-sm">
            {% csrf_token %}
            <label for="quantity_corpsified" class="u-center">Execute press gangers for their corpses</label>
            <input 
                name="quantity_corpsified" 
                placeholder="{{ press_gangers }}" 
                type="number" 
                max="{{ press_gangers }}" 
                class="w-12 md:w-20"
            >

            <button class="header_colors w-16 h-6 p-0 u-center" type="submit">
                <span class="font-bold">Submit</span>
            </button>
        </form>
    </div>
    {% else %}
    <div class="max-w-md">
        <p>Yarrr, this page be only used for the "Grim Pragmatism" discovery.</p>
    </div>
    {% endif %}
</div>
{% endblock %}