{% extends "base.html" %}
{% load extra_tags %}
{% load tz %}
{% load humanize %}

{% block title %}News{% endblock %}

{% block content %}
<style>
    .star {
        visibility:hidden;
        font-size:30px;
        cursor:pointer;
    }
    .star:before {
        content: "\2605";
        position: absolute;
        visibility:visible;
    }
    .star:checked:before {
        content: "\2606";
        position: absolute;
    }
    .checked {
        color: orange;
    }
</style>

<div class="u-flex u-flex-column u-gap-2">
    <details class="accordion card card_colors">
        <summary class="accordion__summary">Details</summary>
        <p>
            Conduct experiments to unlock the perfect sludgelings for your army. Sludgene sequences from the same family
            can be spliced together to create a new sludgene sequence with values that fall between the range of both parents
            (usually). There's no limit to how many sludgene sequences you can store except your own tolerance for clutter.
        </p>
        <p>
            Once you find a sludgene sequence you like, you can spawn it as a unit.
        </p>
        <p class="font-bold">Splicing formula:</p>
        <p>OP and DP have a 1/3 chance to match one parent and a 2/3 chance to fall somewhere in between.</p>
        <p>Faster return has a 1/3 chance to match the faster parent and a 2/3 chance to fall somewhere between the two.</p>
        <p>Casualty rate has a 1/3 chance to match the more durable parent and a 2/3 chance to fall somewhere between the two.</p>
        <p>Cost type matches the parents (sludgene sequence families are based on cost type).</p>
        <p>Upkeep type matches one of the parents at random.</p>
        <p>Resource secreted has a 1/4 chance to match each parent and a 1/2 chance to be absent.</p>
        <p>Discount has a 1/2 chance to fall between the parents and a 1/2 chance to be 0%.</p>
    </details>
    
    <div class="max-w-md" style="width: fit-content;">
        <form action="{% url 'submit_sludgenes' %}" method="post" class="u-flex u-flex-column u-gap-4 max-w-md" >
            {% csrf_token %}
            <table class="table striped card_colors" style="min-width: 400px">
                <tbody>
                    <tr class="header_colors" style="background: {{ active_user_settings.used_theme.header_background }};">
                        <th>Sequence</th>
                        <th>Power</th>
                        <th>Perks</th>
                        <th>Discount</th>
                        <th class="u-text-no-wrap">Cost</th>
                        <th class="u-text-no-wrap">Upkeep</th>
                        <th>Selected</th>
                        <th>Favorite</th>
                    </tr>

                    {% for sludgene in sludgenes %}
                        {% if sludgene.cost_type == "primary" %}
                            <tr onclick="document.getElementById('breed_{{ sludgene.id }}').checked ^= 1; return false;">
                                <td class="u-align-middle">A-{{ sludgene.name }}</td>
                                <td class="u-align-middle u-text-no-wrap">{{ sludgene.op|intcomma }}&nbsp;/&nbsp;{{ sludgene.dp|intcomma }}</td>
                                <td class="u-align-middle">{{ sludgene.perk_text }}</td>
                                <td class="u-align-middle">{{ sludgene.discount_percent }}%</td>
                                <td class="u-align-middle">
                                    {% for resource, amount in sludgene.cost_dict.items %}
                                        <span class="u-center">{{ amount|intcomma }}&nbsp;{{ resource|depluralize:amount }}</span>
                                    {% endfor %}
                                </td>
                                <td class="u-align-middle">
                                    {% for resource, amount in sludgene.upkeep_dict.items %}
                                        <span class="u-center">{{ amount|intcomma }}&nbsp;{{ resource|depluralize:amount }}</span>
                                    {% endfor %}
                                </td>
                                <td class="u-align-middle">
                                    <input type="checkbox" id="breed_{{ sludgene.id }}" name="breed_{{ sludgene.id }}" style="pointer-events: none;">
                                </td>
                                <td class="u-align-middle">
                                    {% if sludgene.is_favorite %}
                                        <span class="fa fa-star checked"></span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    <tr class="header_colors" style="background: {{ active_user_settings.used_theme.header_background }};">
                        <th>Sequence</th>
                        <th>Power</th>
                        <th>Perks</th>
                        <th>Discount</th>
                        <th>Cost</th>
                        <th>Upkeep</th>
                        <th>Selected</th>
                        <th>Favorite</th>
                    </tr>

                    {% for sludgene in sludgenes %}
                        {% if sludgene.cost_type == "hybrid" %}
                            <tr onclick="document.getElementById('breed_{{ sludgene.id }}').checked ^= 1; return false;">
                                <td class="u-align-middle">B-{{ sludgene.name }}</td>
                                <td class="u-align-middle u-text-no-wrap">{{ sludgene.op|intcomma }}&nbsp;/&nbsp;{{ sludgene.dp|intcomma }}</td>
                                <td class="u-align-middle">{{ sludgene.perk_text }}</td>
                                <td class="u-align-middle">{{ sludgene.discount_percent }}%</td>
                                <td class="u-align-middle">
                                    {% for resource, amount in sludgene.cost_dict.items %}
                                        <span class="u-center">{{ amount|intcomma }}&nbsp;{{ resource|depluralize:amount }}</span>
                                    {% endfor %}
                                </td>
                                <td class="u-align-middle">
                                    {% for resource, amount in sludgene.upkeep_dict.items %}
                                        <span class="u-center">{{ amount|intcomma }}&nbsp;{{ resource|depluralize:amount }}</span>
                                    {% endfor %}
                                </td>
                                <td class="u-align-middle">
                                    <input type="checkbox" id="breed_{{ sludgene.id }}" name="breed_{{ sludgene.id }}" style="pointer-events: none;">
                                </td>
                                <td class="u-align-middle">
                                    {% if sludgene.is_favorite %}
                                        <span class="fa fa-star checked"></span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    <tr class="header_colors" style="background: {{ active_user_settings.used_theme.header_background }};">
                        <th>Sequence</th>
                        <th>Power</th>
                        <th>Perks</th>
                        <th>Discount</th>
                        <th class="u-text-no-wrap">Cost</th>
                        <th class="u-text-no-wrap">Upkeep</th>
                        <th>Selected</th>
                        <th>Favorite</th>
                    </tr>

                    {% for sludgene in sludgenes %}
                        {% if sludgene.cost_type == "secondary" %}
                            <tr onclick="document.getElementById('breed_{{ sludgene.id }}').checked ^= 1; return false;">
                                <td class="u-align-middle">C-{{ sludgene.name }}</td>
                                <td class="u-align-middle u-text-no-wrap">{{ sludgene.op|intcomma }}&nbsp;/&nbsp;{{ sludgene.dp|intcomma }}</td>
                                <td class="u-align-middle">{{ sludgene.perk_text }}</td>
                                <td class="u-align-middle">{{ sludgene.discount_percent }}%</td>
                                <td class="u-align-middle">
                                    {% for resource, amount in sludgene.cost_dict.items %}
                                        <span class="u-center">{{ amount|intcomma }}&nbsp;{{ resource|depluralize:amount }}</span>
                                    {% endfor %}
                                </td>
                                <td class="u-align-middle">
                                    {% for resource, amount in sludgene.upkeep_dict.items %}
                                        <span class="u-center">{{ amount|intcomma }}&nbsp;{{ resource|depluralize:amount }}</span>
                                    {% endfor %}
                                </td>
                                <td class="u-align-middle">
                                    <input type="checkbox" id="breed_{{ sludgene.id }}" name="breed_{{ sludgene.id }}" style="pointer-events: none;">
                                </td>
                                <td class="u-align-middle">
                                    {% if sludgene.is_favorite %}
                                        <span class="fa fa-star checked"></span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

            <div>
                <select name="action" class="w-32 h-6 u-center mb-2">
                    <option value="splice">Splice</option>
                    <option value="spawn">Spawn unit</option>
                    <option value="favorites">Toggle favorites</option>
                    <option value="delete">Delete</option>
                </select>
                <button class="header_colors w-16 h-6 p-0 u-center" type="submit">
                    <span class="font-bold">Submit</span>
                </button>
                <span class="u-center">{{ splices }} splices remaining</span>
                <span class="u-center">{{ active_dominion.perk_dict.custom_units }} / {{ active_dominion.perk_dict.max_custom_units }} custom units used</span>
            </div>
        <form>
    
    {% comment %} Without this, the terminate experiment form hits submit_sludgenes and I don't know why {% endcomment %}
    <div class="max-w-md u-none">
        <form action="{% url 'terminate_experiment' %}" method="post" class="u-flex u-flex-column u-gap-4 w-90p max-w-xs">
            {% csrf_token %}
        </form>
    </div>
    {% comment %} End bullshit {% endcomment %}

    {% if has_experimental_units %}
        <div class="u-overflow-x-scroll md:u-overflow-x-hidden mt-6 max-w-md" style="min-width: 400px">
            <form action="{% url 'terminate_experiment' %}" method="post" class="max-w-md">
                {% csrf_token %}
                <label class="form-ext-toggle__label u-flex u-flex-column mt-2">
                    <span class="w-24 u-center">Terminate experiment</span>
                    <select name="experiment_to_terminate" class="w-48 u-center mb-2">
                        <option></option>
                        {% for unit in experimental_units %}
                        <option value="{{ unit.id }}">{{ unit.name }} {{ unit.op|intcomma}}/{{ unit.dp|intcomma }} (x{{ unit.quantity_total|intcomma }}){% if unit.quantity_total >= 1000 %} -- ⚠️⚠️⚠️ --{% endif %}</option>
                        {% endfor %}
                    </select>
                </label>
                <button class="header_colors mt-1 w-32 h-6 p-0 u-center" type="submit">
                    <span class="font-bold">Terminate</span>
                </button>
            </form>
        </div>
    {% endif %}

    {% if masterpieces_available > 0 %}
        <div class="u-overflow-x-scroll md:u-overflow-x-hidden mt-6">
            <form action="{% url 'submit_masterpiece' %}" method="post" class="max-w-md">
                {% csrf_token %}
                <table class="table striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Power</th>
                            <th>Quantity at home</th>
                            <th>Combine</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for unit in experimental_units %}
                        <tr>
                            {% include "maingame/components/unit_name_row.html" %}
                            <td class="u-align-middle" id="power_{{ unit.id }}" style="white-space:nowrap">{{ unit.op|intcomma }} / {{ unit.dp|intcomma }}</td>

                            <td class="u-align-middle u-none md:u-table-cell">
                                {% include "maingame/components/current_incoming.html" with current=unit.quantity_at_home incoming=unit.quantity_in_training_and_returning %}
                            </td>

                            <td class="u-align-middle">
                                <div class="u-flex u-flex-row u-gap-2 md:w-32 u-center">
                                    {% if "sludge" in unit.cost_dict %}
                                    <input 
                                        name="combine_{{ unit.id }}" 
                                        id="combine_{{ unit.id }}" 
                                        placeholder="{{ unit.quantity_at_home }}" 
                                        type="number" 
                                        max="{{ unit.quantity_at_home }}" 
                                        class="w-12 md:w-20"
                                    >
                                    <button type="button" class="header_colors u-center" onclick="combineMax('{{ unit.id }}', '{{ unit.quantity_at_home }}')">
                                        Max
                                    </button>
                                    <script>
                                        function combineMax(unitId, quantityAtHome) {
                                            let thisInput = document.getElementById("combine_" + unitId);
                                            if (thisInput.value == quantityAtHome) {
                                                thisInput.value = ""
                                            } else {
                                                thisInput.value = quantityAtHome;
                                            }
                                        }
                                    </script>
                                    
                                    {% else %}
                                    <span class="u-center">Not a valid component</span>
                                    {% endif %}
                                </div>
                            </td>

                            <td class="u-align-middle md:u-none">
                                {% include "maingame/components/current_incoming.html" with current=unit.quantity_total incoming=unit.quantity_in_training %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button class="header_colors mt-1 w-32 h-6 p-0 u-center" type="submit">
                    <span class="font-bold">Create your masterpiece</span>
                </button>
            </form>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}
