{% load humanize %}
{% load extra_tags %}

<div class="u-overflow-x-scroll md:u-overflow-x-auto pr-2 max-w-md">
    <table class="table striped max-w-md">
        <thead>
            <tr class="header_colors">
                <th class="u-align-middle">
                    <div class="u-flex u-flex-column">
                        <span>Dominion</span>
                        <small>Click for overview</small>
                    </div>
                </th>
                {% if is_debug %}
                <th class="u-align-middle">Score</th>
                {% endif %}
                <th class="u-align-middle">Land</th>
                <th class="u-align-middle">Defense</th>
                <th class="u-align-middle">Bonuses</th>
                {% if my_view %}
                    <th class="u-align-middle">Your perks</th>
                {% else %}
                    <th class="u-align-middle">This dominion's perks</th>
                {% endif %}
                <th class="u-align-middle">Highest OP</th>
                {% if my_view %}
                    <th class="u-align-middle">Their perks</th>
                {% else %}
                    <th class="u-align-middle">Perks against them</th>
                {% endif %}
                
                <th class="u-align-middle" style="white-space: nowrap;">W/L</th>
            </tr>
        </thead>
        <tbody>
            {% for dominion in all_dominions %}
            <tr class="{% if dominion == this_dominion %}font-bold{% endif %}">

                {% comment %} Dominion {% endcomment %}
                <td class="u-align-middle">
                    <div class="u-flex u-flex-column">
                        <a class="font-bold" href="{% url 'overview' dominion.id %}">
                            {% if round.percent_chance_for_round_end > 0 and dominion == largest_with_incoming %}<em>{% endif %}
                            {{ dominion.name }}
                            {% if round.percent_chance_for_round_end > 0 and dominion == largest_with_incoming %}</em>{% endif %}
                        </a>
                        <a href="{% url 'overview' dominion.id %}"><small class="{% if dominion == this_dominion %}font-bold{% endif %}">{{ dominion.rulers_display_name }}</small></a>
                        <a href="{% url 'overview' dominion.id %}"><small class="{% if dominion == this_dominion %}font-bold{% endif %}">{{ dominion.faction_name|title }}</small></a>
                    </div>
                </td>

                {% comment %} Score {% endcomment %}
                {% if is_debug %}
                    <td class="u-align-middle">{{ dominion.score_short }}</td>
                {% endif %}

                {% comment %} Land {% endcomment %}
                <td class="u-align-middle">
                    {% include "maingame/components/current_incoming.html" with current=dominion.acres incoming=dominion.incoming_acres %}
                </td>

                {% comment %} Defense {% endcomment %}
                <td class="u-align-middle">
                    <div class="u-flex u-flex-column">
                        {% if dominion.defense < this_dominion.juicy_target_threshold and dominion.is_oop and round.has_started %}
                        {% comment %} <span class="tag tag--danger mx-auto md:text">
                            {% include "maingame/components/mouseover_change.html" with normal=dominion.defense_short mouseover=dominion.defense_raw_short %}
                        </span> {% endcomment %}
                        <div class="bg-red-600 text-white u-round-sm mx-auto p-1">
                            {% include "maingame/components/mouseover_change.html" with normal=dominion.defense_short mouseover=dominion.defense_raw_short %}
                        </div>
                        {% else %}
                        <span class="u-center {% if dominion.protection_ticks_remaining > 0 or not round.has_started %}text-teal-400{% endif %}">
                            {% if dominion.is_oop and round.has_started %}
                            {% include "maingame/components/mouseover_change.html" with normal=dominion.defense_short mouseover=dominion.defense_raw_short %}
                            {% else %}
                            Magical protection
                            {% endif %}
                        </span>
                        {% endif %}
                        
                        {% if dominion.acres_in_void > 0 %}
                        <small>Has units in the void</small>
                        {% elif dominion.incoming_acres > 0 %}
                        <small>Land returns in {{ dominion.ticks_til_all_acres_return }} ticks</small>
                        {% endif %}
                    </div>
                </td>

                {% comment %} Complacency/Determination {% endcomment %}
                <td class="u-align-middle">
                    <div class="u-flex u-flex-column">
                        <span style="white-space:nowrap">+{{ dominion.determination_bonus_percent|floatformat:0 }}% OP</span>
                        <span style="white-space:nowrap">-{{ dominion.complacency_penalty_percent|floatformat:0 }}% DP</span>
                    </div>
                </td>

                {% comment %} Your faction {% endcomment %}
                {% comment %} dwarf {% endcomment %}
                <td class="u-align-middle">
                    {% if "book_of_grudges" in this_dominion.perk_dict %}
                        {% if dominion.strid in this_dominion.perk_dict.book_of_grudges %}
                            <div class="u-flex u-flex-column u-center w-16">
                                <span>
                                    {{ this_dominion.perk_dict.book_of_grudges|getattr:dominion.strid|getattr:"pages" }} page{% if this_dominion.perk_dict.book_of_grudges|getattr:dominion.strid|getattr:"pages" > 1 %}s{% endif %}
                                </span>
                                <span>+{{ this_dominion.perk_dict.book_of_grudges|getattr:dominion.strid|getattr:"animosity"|floatformat:"1" }}% OP</span>
                            </div>
                        {% elif dominion == this_dominion %}
                            <span>-</span>
                        {% else %}
                            <span>-</span>
                        {% endif %}
                    {% comment %} GSF {% endcomment %}
                    {% elif "infiltration_dict" in this_dominion.perk_dict %}
                        {% if dominion.strid in this_dominion.perk_dict.infiltration_dict %}
                            <div class="u-flex u-flex-column u-center w-16">
                                <span>
                                    +{{ this_dominion.perk_dict.infiltration_dict|getattr:dominion.strid|intcomma }} OP
                                </span>
                            </div>
                        {% elif dominion == this_dominion %}
                            {% if dominion.ticks_til_infiltrators_return > 0 %}
                                <small>Infiltrators return in {{ dominion.ticks_til_infiltrators_return }} ticks</small>
                            {% else %}
                                <span>-</span>
                            {% endif %}
                        {% elif dominion.strid == this_dominion.red_beret_target_id %}
                            {% comment %} Don't show the dash {% endcomment %}
                        {% else %}
                            <span>-</span>
                        {% endif %}
                        {% if dominion.strid == this_dominion.red_beret_target_id %}
                            <span>Red beret infiltrated</span>
                        {% endif %}
                    {% comment %} goblin {% endcomment %}
                    {% elif "rulers_favorite_resource" in this_dominion.perk_dict and dominion == this_dominion %}
                        <span style="white-space:nowrap">
                            +{{ this_dominion.goblin_bonus }}% {{ this_dominion.perk_dict.rulers_favorite_resource }}
                        </span>
                    {% comment %} blessed order {% endcomment %}
                    {% elif "order_cant_attack_ticks_left" in this_dominion.perk_dict and this_dominion.perk_dict.order_cant_attack_ticks_left > 0 and dominion == this_dominion %}
                        Can't attack for {{ this_dominion.perk_dict.order_cant_attack_ticks_left }} {{ "ticks"|depluralize:this_dominion.perk_dict.order_cant_attack_ticks_left }}
                    {% comment %} biclops {% endcomment %}
                    {% elif "partner_patience" in this_dominion.perk_dict and dominion == this_dominion %}
                        <div class="u-flex u-flex-column">
                            <span>Current mood:</span>
                            <span>
                                {% if this_dominion.perk_dict.partner_attack_on_sight == True %}
                                    Aggressive
                                {% elif this_dominion.perk_dict.partner_patience <= 0 %}
                                    Lashing out
                                {% elif this_dominion.perk_dict.partner_patience <= 12 %}
                                    On edge
                                {% else %}
                                    Calm
                                {% endif %}
                            </span>
                        </div>
                    {% comment %} aethertide corsairs {% endcomment %}
                    {% elif "aethertide_coefficient" in this_dominion.perk_dict and dominion == this_dominion %}
                        <div class="u-flex u-flex-row">
                            <div class="u-flex u-flex-column">
                                <span>
                                    {{ this_dominion.aethertide_dict.chance_to_trigger }}% to {{ this_dominion.aethertide_dict.action }} next tick
                                </span>
                                <span>
                                    {% if this_dominion.aethertide_dict.op_mod >= 0 %}+{% endif %}{{ this_dominion.aethertide_dict.op_mod }}% OP
                                </span>
                                <span class="u-center">
                                    {{ this_dominion.aethertide_dict.direction_next_tick }}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </td>

                {% comment %} Highest OP {% endcomment %}
                <td class="u-align-middle">{{ dominion.highest_op_short }}</td>

                {% comment %} Their faction {% endcomment %}
                <td class="u-align-middle">
                    {% if dominion == this_dominion %}
                        <span>-</span>
                    {% elif "book_of_grudges" in dominion.perk_dict %}
                        {% if this_dominion.strid in dominion.perk_dict.book_of_grudges %}
                            <div class="u-flex u-flex-column u-center w-16">
                                <span>
                                    {{ dominion.perk_dict.book_of_grudges|getattr:this_dominion.strid|getattr:"pages" }} page{% if dominion.perk_dict.book_of_grudges|getattr:this_dominion.strid|getattr:"pages" > 1 %}s{% endif %}
                                </span>
                                <span>+{{ dominion.perk_dict.book_of_grudges|getattr:this_dominion.strid|getattr:"animosity"|floatformat:"1" }}% OP</span>
                            </div>
                        {% elif dominion == this_dominion %}
                            <span>-</span>
                        {% else %}
                            <span>-</span>
                        {% endif %}
                    {% elif "infiltration_dict" in dominion.perk_dict %}
                        <div class="u-flex u-flex-column u-center w-16">
                            {% if this_dominion.strid in dominion.perk_dict.infiltration_dict %}
                                <span>
                                    +{{ dominion.perk_dict.infiltration_dict|getattr:this_dominion.strid|intcomma }} OP
                                </span>
                            {% elif dominion == this_dominion %}
                                <span>-</span>
                            {% elif dominion.strid == this_dominion.red_beret_target_id or dominion.ticks_til_infiltrators_return > 0 %}
                                {% comment %} Don't show the dash {% endcomment %}
                            {% else %}
                                <span>-</span>
                            {% endif %}

                            {% if dominion.ticks_til_infiltrators_return > 0 %}
                                <small>Infiltrators return in {{ dominion.ticks_til_infiltrators_return }} ticks</small>
                            {% endif %}
                            {% if this_dominion.strid == dominion.red_beret_target_id %}
                                <span>Red beret infiltrated</span>
                            {% endif %}
                        </div>
                    {% elif "rulers_favorite_resource" in dominion.perk_dict %}
                        <div style="white-space:nowrap">
                            <span>+{{ dominion.goblin_bonus }}% {{ dominion.perk_dict.rulers_favorite_resource }}</span>
                        </div>
                    {% elif "order_cant_attack_ticks_left" in dominion.perk_dict and dominion.perk_dict.order_cant_attack_ticks_left > 0 %}
                        <span>Can't attack for {{ dominion.perk_dict.order_cant_attack_ticks_left }} {{ "ticks"|depluralize:dominion.perk_dict.order_cant_attack_ticks_left }}</span>
                    {% elif "partner_patience" in dominion.perk_dict %}
                        <span>
                            Current mood:
                            {% if dominion.perk_dict.partner_attack_on_sight == True %}
                                Aggressive
                            {% elif dominion.perk_dict.partner_patience <= 0 %}
                                Lashing out
                            {% elif dominion.perk_dict.partner_patience <= 12 %}
                                On edge
                            {% else %}
                                Calm
                            {% endif %}
                        </span>
                    {% comment %} aethertide corsairs {% endcomment %}
                    {% elif "aethertide_coefficient" in dominion.perk_dict %}
                        <div class="u-flex u-flex-row">
                            <div class="u-flex u-flex-column">
                                <span>
                                    {{ dominion.aethertide_dict.chance_to_trigger }}% to {{ dominion.aethertide_dict.action }} next tick
                                </span>
                                <span>
                                    {% if dominion.aethertide_dict.op_mod >= 0 %}+{% endif %}{{ dominion.aethertide_dict.op_mod }}% OP
                                </span>
                                <span class="u-center">
                                    {{ dominion.aethertide_dict.direction_next_tick }}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </td>

                {% comment %} W/L {% endcomment %}
                <td class="u-align-middle" style="white-space:nowrap">
                    <!-- {% if dominion.perk_dict.biclopean_ambition_ticks_remaining > 0 %}
                        Lashing out for {{ dominion.perk_dict.biclopean_ambition_ticks_remaining }} ticks
                    {% else %}
                        {{ dominion.successful_invasions }}-{{ dominion.failed_defenses }}
                    {% endif %} -->
                    {% include "maingame/components/wins_losses_net_ticks.html" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
