{% load humanize %}
{% load extra_tags %}

<div class="u-flex u-flex-column u-border-2 p-1">
    <input value="{{ module.id }}" name="{{ module.id }}" class="module-id" hidden>
    <input value="{{ module.zone }}" name="zone_{{ module.id }}" class="zone" hidden />
    <span>{{ module.versioned_name }}</span>
    <span>Power: {{ module.power_short }}</span>
    <span class="capacity">Capacity: {{ module.capacity }}</span>
    <div class="h-2 bg-white-400 u-border-1 mb-1">
        <div class="h-2 bg-red-400" style="width: {{ module.durability_percent }}%"></div>
    </div>
    <button 
        class="header_colors w-16 h-4 p-0 u-center" 
        type="submit" 
        name="upgrade" 
        value="{{ module.id }}" 
        id="building-submit-button"
        {% if not module.can_afford_upgrade %}disabled{% endif %}
    >
        <span class="font-bold">Upgrade</span>
    </button>
    <div>
        {% for resource, amount in module.upgrade_cost_dict_short.items %}
            <span class="u-center">{{ amount|intcomma }}&nbsp;{{ resource|depluralize:amount }}</span>
        {% endfor %}
    </div>
    
</div>