{% load humanize %}
{% load extra_tags %}

<div class="u-flex u-flex-column u-border-2 p-1 w-32">
    <input value="{{ module.id }}" name="{{ module.id }}" class="module-id" hidden>
    <input value="{{ module.zone }}" name="zone_{{ module.id }}" class="zone" hidden />

    <table class="table striped">
        <thead>
            <tr>
                <th class="u-flex u-flex-row u-gap-2">
                    <span>{{ module.versioned_name }}</span>
                    {% if editable %}
                        <button 
                            class="header_colors w-4 h-4 p-0 ml-auto" 
                            type="submit" 
                            name="toggle_equip" 
                            value="{{ module.id }}" 
                        >
                            <span class="font-bold">
                                {% if module.zone == "mech" %}X
                                {% else %}+
                                {% endif %}
                            </span>
                        </button>
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody class="u-text-left">
            <tr>
                <td>{% if module.base_power > 0 %}*{% endif %}Power: {{ module.power_short }}</span>
            </tr>
            <tr>
                <td class="capacity">{% if module.upgrade_increases_capacity %}*{% endif %}Capacity: {{ module.capacity }}</td>
            </tr>
            <tr>
                <td>
                    {% if module.battery_max > 0 %}
                        Battery-powered
                    {% elif module.durability_max == 1 %}
                        Destroyed when activated
                    {% else %}
                        Durability/battle: {{ module.fragility }}%
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="u-flex u-flex-column">
                    {% if module.battery_max > 0 %}
                        <span>Battery recharge/tick: {{ 100|divided_by:module.battery_max }}</span>
                        <span>&nbsp</span>
                    {% else %}
                        <span>Repair cost/point:</span>
                        <span>{{ module.repair_cost_list }}</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="h-2 bg-white-400 u-border-1 mb-1">
        {% if module.battery_max > 0 %}
            <div class="bg-teal-300" style="width: {{ module.battery_percent }}%;">
                <span class="u-center text-xs leading-none h-100p">{{ module.battery_percent|intcomma }}</span>
            </div>
        {% else %}
            <div class="bg-red-400" style="width: {{ module.durability_percent }}%;">
                <span class="u-center text-xs leading-none h-100p">{{ module.durability_current|intcomma }} / {{ module.durability_max|intcomma }}</span>
            </div>
        {% endif %}
    </div>

    
    {% if editable %}
        {% if module.is_upgradable %}
        <button 
            class="header_colors w-16 h-4 p-0 u-center" 
            type="submit" 
            name="upgrade" 
            value="{{ module.id }}" 
            id="building-submit-button"
            {% if not module.can_afford_upgrade %}disabled{% endif %}
        >
            <span class="font-bold">Upgrade</span>
        </button>
        {% else %}
        <button 
            class="header_colors w-24 h-4 p-0 u-center" 
            disabled
        >
            <span class="font-bold">Not upgradable</span>
        </button>
        {% endif %}
    {% endif %}

    <div>
        {% for resource, amount in module.upgrade_cost_dict_short.items %}
            <span class="u-center font-bold">{{ amount|intcomma }}&nbsp;{{ resource|depluralize:amount }}</span>
        {% endfor %}
    </div>

    <div class="u-flex u-flex-column">
        <span>{{ module.perk_text }}</span>
    </div>
    
</div>