{% load humanize %}

<div class="current-incoming w-6 h-3 u-center">
    <span class="u-center normal">
    {% if dominion.perk_dict.biclopean_ambition_ticks_remaining > 0 %}
        Lashing out for {{ dominion.perk_dict.biclopean_ambition_ticks_remaining }} ticks
    {% else %}
        {{ dominion.successful_invasions }}-{{ dominion.failed_defenses }}
    {% endif %}
    </span>

    <span class="u-center mouseover">Net ticks: {{ dominion.perk_dict.aethertide_net_ticks }}</span>
</div>

<style>
    .current-incoming:hover span.normal {
        display: none;
    }

    .current-incoming:hover span.mouseover {
        display: block;
    }

    .mouseover {
        display: none;
    }
</style>