{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cirrus-ui/dist/cirrus.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Odalike - {% block title %}{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta property="og:site_name" content="GAME NAME">
		<meta property="og:title" content="GAME NAME">
		<meta property="og:description" content="GAME DESCRIPTION">
		<meta property="og:type" content="website">
	</head>

	<body class="bg-dark text-light h-full">
        <div class="u-flex u-flex-row">
            {% include "sidebar.html" %}
            <div class="u-flex-grow-1">
                {% include "header.html" %}
                <section class="container pt-2 px-2 mx-4-md">
                    {% block content %}
                    {% endblock %}
                </section>
            </div>
        </div>
	</body>
</html>