{% load humanize %}

<div class="h-12 pl-4 pl-0-md u-flex u-flex-wrap u-gap-1 u-items-center bg-red-800 u-none w-100p">
    <table class="w-100p u-text-center mt-1">
        <tr>
            <td><h5 class="px-4-md tooltip tooltip--bottom" data-tooltip="Food">🍞: {{ active_player.food|intcomma }}</h5></td>
            <td><h5 class="px-4-md tooltip tooltip--bottom" data-tooltip="Gold">🪙: {{ active_player.gold|intcomma }}</h5></td>
            <td> <h5 class="px-4-md tooltip tooltip--bottom" data-tooltip="Mana">🔮: {{ active_player.mana|intcomma }}</h5></td>
        </tr>
        <tr>
            <td><h5 class="px-4-md tooltip tooltip--bottom" data-tooltip="Ore">🪨: {{ active_player.ore|intcomma }}</h5></td>
            <td><h5 class="px-4-md tooltip tooltip--bottom" data-tooltip="Lumber">🪵: {{ active_player.lumber|intcomma }}</h5></td>
            <td><h5 class="px-4-md tooltip tooltip--bottom" data-tooltip="Gems">💎: {{ active_player.gems|intcomma }}</h5></td>
        </tr>
    </table>
    <div class="ml-auto">
        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">
            <button>Log In</button>
        </a>
        <a href="{% url 'signup' %}">
            <button>Sign Up</button>
        </a>
        {% endif %}
    </div>
</div>

{% if messages %}
<div class="p-4">
    <style>
        .error {
            color: rgb(249, 178, 178);
        }
    </style>
    {% for message in messages %}
    <h6 class="font-bold {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</h6>
    {% endfor %}
</div>
{% endif %}