{% load humanize %}

<div class="u-flex u-flex-row u-gap-1 u-items-center header_colors" style="height: 99px !important">
    <div class="header_colors px-1 u-none-md" onclick="toggleMenu()">
            <i class="fa fa-bars text-xl"></i>
    </div>

    <div class="u-none" id="links" style="z-index: 10;">
        <span id="mobile-menu-time" class="u-center font-bold">Time goes here</span>
        {% include "sidebar_links.html" %}
    </div>
    
    <script>
        function toggleMenu() {
            var links = document.getElementById("links");
            const baseTopNavClasses = "header_colors text-xl u-center "

            if (links.className.includes("u-none")) {
                links.className = baseTopNavClasses + "u-flex u-flex-column u-absolute u-top-8 mt-4 w-100p";
            } else {
                links.className = baseTopNavClasses + "u-none";
            }
        }

        function getTime() {
            let d = new Date()
            let h = `${d.getHours()}`.padStart(2, '0')
            let m = `${d.getMinutes()}`.padStart(2, '0')
            let s = `${d.getSeconds()}`.padStart(2, '0')
            return h + ":" + m + ":" + s
        }

        document.getElementById('mobile-menu-time').innerHTML = getTime();

        setInterval(() => {
            document.getElementById('mobile-menu-time').innerHTML = getTime();
        }, 1000);
    </script>

    {% comment %} DESKTOP HEADER {% endcomment %}
    <div class="u-none u-flex-md u-flex-wrap {% if active_dominion.resource_types >= 9 %}u-gap-4{% else %}u-gap-6{% endif %}">
        {% if active_dominion %}
        <span class="font-bold u-center tooltip tooltip--right" data-tooltip="{{ active_dominion.acres_with_incoming }}">
            {{ active_dominion.acres }}{% if active_dominion.incoming_acres > 0 %} ({{ active_dominion.incoming_acres }}){% endif %} acres
        </span>
        <span class="font-bold u-center">{{ active_dominion.defense_short }} DP</span>
        {% endif %}
        {% for resource in active_dominion.resources %}
        <div class="u-flex u-flex-column tooltip tooltip--bottom" data-tooltip="{{ resource.net_production|intcomma }} / tick">
            <span class="font-bold">{{ resource.name|title }}:</span>
            <span>{{ resource.quantity|intcomma }}</span>
        </div>
        {% endfor %}
    </div>
    {% comment %} DESKTOP HEADER {% endcomment %}

    <table class="header_colors w-100p u-none-md{% if active_dominion.is_starving %} text-red-400{% endif %}">
        {% for key, value in active_dominion.header_rows.items %}
        <tr>
            {% for resource_readout in value %}
            <td>
                <div class="u-flex u-flex-column">
                    <span class="font-bold">{{ resource_readout.name|title }}:</span>
                    <span>{{ resource_readout.quantity }}</span>
                </div>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div class="ml-auto mr-4">
        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">
            <button>Log In</button>
        </a>
        <a href="{% url 'signup' %}">
            <button>Sign Up</button>
        </a>
        {% endif %}
    </div>
</div>

{% if active_dominion.protection_ticks_remaining > 0 or not round.has_started and active_dominion %}
<div class="u-flex u-flex-column u-flex-row-md u-gap-4 header_colors p-1">
    <span>{{ active_dominion.protection_ticks_remaining }} protection ticks left</span>
    <div class="u-flex u-flex-wrap u-gap-2">
        {% if active_dominion.protection_ticks_remaining > 0 %}
        <a href="{% url 'protection_tick' 1 %}">
            <button class="h-4 py-0">+1 tick</button>
        </a>
        {% endif %}

        {% if active_dominion.protection_ticks_remaining >= 12 %}
        <a href="{% url 'protection_tick' 12 %}">
            <button class="h-4 py-0">+12 ticks</button>
        </a>
        {% endif %}

        {% if active_dominion.ticks_til_training_time >= 12 %}
        <a href="{% url 'protection_tick' active_dominion.ticks_til_training_time %}">
            <button class="h-4 py-0">+{{ active_dominion.ticks_til_training_time }} ticks</button>
        </a>
        {% endif %}

        {% if active_dominion.protection_ticks_remaining > 0 %}
        <a href="{% url 'protection_tick' active_dominion.protection_ticks_remaining %}">
            <button class="h-4 py-0">+{{ active_dominion.protection_ticks_remaining }} ticks</button>
        </a>
        {% endif %}

        <details class="accordion m-0 p-0 u-flex u-flex-row u-gap-2">
            <summary class="accordion__summary base_colors u-round-xs px-1 h-4">Restart</summary>
            <a href="{% url 'protection_restart' %}">
                <button class="h-4 py-0">Really restart</button>
            </a>
        </details>
    </div>
</div>
{% endif %}

{% if round.has_ended %}
<div class="p-4 card_colors">
    <h6 class="font-bold">The round has ended. No more actions can be taken.</h6>
</div>
{% endif %}

{% if messages %}
<div class="p-4">
    <style>
        .error {
            color: rgb(249, 178, 178);
        }
    </style>
    {% for message in messages %}
    <h6 class="font-bold {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</h6>
    {% endfor %}
</div>
{% endif %}
