{% load humanize %}

<div class="h-12 pl-4 pl-0-md u-flex u-flex-wrap u-gap-1 u-items-center bg-red-800 u-none w-100p">
    {% if round.winner %}
    <div class="u-center u-flex">
        <h4 class="u-center">{{ round.winner }} has been crowned the ruler</h4>
    </div>
    {% else %}
    <table class="w-100p mt-1 max-w-xs{% if active_player.is_starving %} text-red-400{% endif %}">
        {% for key, value in active_player.header_rows.items %}
        <tr>
            {% for resource_readout in value %}
            <td><h5 class="px-4-md tooltip tooltip--bottom" data-tooltip="{{ resource_readout.tooltip|title }}">{{ resource_readout.readout }}</h5></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="ml-auto">
        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">
            <button>Log In</button>
        </a>
        <a href="{% url 'signup' %}">
            <button>Sign Up</button>
        </a>
        {% endif %}
    </div>
</div>

{% if messages %}
<div class="p-4">
    <style>
        .error {
            color: rgb(249, 178, 178);
        }
    </style>
    {% for message in messages %}
    <h6 class="font-bold {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</h6>
    {% endfor %}
</div>
{% endif %}