<div class="header_colors w-24 h-screen u-none u-block-md pt-12">
    <span id="bigscreen-time" class="u-center font-bold">Time goes here</span>
    <div class="u-flex-md u-flex-column u-center">
        {% include "sidebar_links.html" %}
    </div>

    <script>
        function getTime() {
            let d = new Date()
            let h = `${d.getHours()}`.padStart(2, '0')
            let m = `${d.getMinutes()}`.padStart(2, '0')
            let s = `${d.getSeconds()}`.padStart(2, '0')
            return h + ":" + m + ":" + s
        }

        document.getElementById('bigscreen-time').innerHTML = getTime();

        setInterval(() => {
            document.getElementById('bigscreen-time').innerHTML = getTime();
        }, 1000);
    </script>
</div>