{% if active_dominion %}
<a href="{% url 'overview' active_dominion.id %}" class="">Overview</a>
<a href="{% url 'resources' %}" class="">Resources</a>
<a href="{% url 'buildings' %}" class="">Buildings{% if active_dominion.barren_acres > 0 %} ⚠️{% endif %}</a>
<a href="{% url 'military' %}" class="">Military</a>
<a href="{% url 'spells' %}" class="">Spells</a>
<a href="{% url 'upgrades' %}" class="">Upgrades</a>
<a href="{% url 'discoveries' %}" class="">Discoveries{% if active_dominion.discovery_points >= 50 %} 💡{% endif %}</a>
<a href="{% url 'world' %}" class="">The World</a>
<a href="{% url 'news' %}" class="">News{% if active_dominion.has_unread_events > 0 %} ⚠️{% endif %}</a>

<a href="{% url 'run_tick_view' 1 %}" class=" mt-12">RUN TICK</a>
<a href="{% url 'run_tick_view' 12 %}" class="">RUN TICK x12</a>

{% if active_user_settings.show_tutorials %}
<a href="{% url 'tutorial' %}" class="">Tutorial</a>
{% endif %}
<a href="{% url 'options' %}" class="">Options</a>
{% endif %}

<a href="{% url 'faction_info' %}" class="">Faction Info</a>

<form action="{% url 'logout' %}" method="post" class="mt-8">
    {% csrf_token %}
    <button type="submit" class="px-1 py-0 w-12 h-4">
        <span class="font-bold">Log out</span>
    </button>
</form>