{% extends "base.html" %}
{% load extra_tags %}
{% load humanize %}

{% block title %}Army training{% endblock %}

{% block content %}
<form action="{% url 'submit_training' %}" method="post" class="max-w-sm">
    {% csrf_token %}
    <div class="w-100p u-center">
        <h6>Train units</h6>
    </div>
    <table class="table striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Pwr</th>
                <th class="w-16">Cost</th>
                <th>Train</th>
            </tr>
        </thead>
        <tbody>
            {% for unit in units %}
            {% if unit.is_trainable %}
            <tr>
                <th class="u-align-middle" onclick="trainMax('{{ unit.id }}', '{{ unit.max_affordable }}')">{{ unit.name|title }}</th>
                <td class="u-align-middle" onclick="trainMax('{{ unit.id }}', '{{ unit.max_affordable }}')">{{ unit.op }}/{{ unit.dp }}</td>
                <td class="u-align-middle" onclick="trainMax('{{ unit.id }}', '{{ unit.max_affordable }}')">
                    <div class="u-flex u-flex-column">
                        {% for resource, amount in unit.cost_dict.items %}
                        <span>{{ amount }}{{ resource }}</span>
                        {% endfor %}
                    </div>
                </td>
                <td class="u-align-middle u-flex-md u-flex-row-md">
                    <input 
                        name="train_{{ unit.id }}" 
                        id="train_{{ unit.id }}" 
                        placeholder="{{ unit.max_affordable }}" 
                        type="number" 
                        max="{{ unit.max_affordable }}" 
                        class="w-12 w-16-md ml-auto-md mr-2-md"
                    >
                    <button type="button" class="btn-light my-auto u-none u-block-md mr-auto-md" onclick="trainMax('{{ unit.id }}', '{{ unit.max_affordable }}')">
                        Max
                    </button>
                    
                    <script>
                    function trainMax(unit_id, max_affordable) {
                        let thisInput = document.getElementById("train_" + unit_id);
                        thisInput.value = max_affordable;
                    }
                    </script>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <button class="btn-light mt-1 w-16 h-6 p-0 u-center" type="submit">
        <span class="font-bold">Train</span>
    </button>
</form>

<div class="max-w-sm card bg-gray-900 pt-3 mt-6">
    <div class="w-100p u-center">
        <h6>Marshaled units — total OP: {{ active_player.marshaled_op }}</h6>
    </div>
    <table class="table striped bg-gray-900">
        <thead>
            <tr>
                <th>Name</th>
                <th>Power</th>
                <th>Amount</th>
                <th>Send to each of your {{ active_player.regions_ruled }} regions</th>
            </tr>
        </thead>
        <tbody>
            {% for unit in marshaled_units %}
            <tr>
                <th class="u-align-middle">{{ unit.name|title }}</th>
                <td class="u-align-middle">{{ unit.op }}/{{ unit.dp }}</td>
                <td class="u-align-middle">{{ unit.quantity_marshaled|intcomma }}</td>
                <td class="u-align-middle u-flex-md u-flex-row-md u-gap-1 u-center">
                    {% if unit.quantity_marshaled > active_player.regions_ruled and unit.quantity_marshaled < active_player.regions_ruled|multiply:100 %}
                    <a href="{% url 'dispatch_to_all_regions' unit.id 1 %}">
                        <button class="btn-light px-1 py-0">1</button>
                    </a>
                    {% endif %}

                    {% if unit.quantity_marshaled > active_player.regions_ruled|multiply:10 and unit.quantity_marshaled < active_player.regions_ruled|multiply:1000 %}
                    <a href="{% url 'dispatch_to_all_regions' unit.id 10 %}">
                        <button class="btn-light px-1 py-0">10</button>
                    </a>
                    {% endif %}

                    {% if unit.quantity_marshaled > active_player.regions_ruled|multiply:100 and unit.quantity_marshaled < active_player.regions_ruled|multiply:10000 %}
                    <a href="{% url 'dispatch_to_all_regions' unit.id 100 %}">
                        <button class="btn-light px-1 py-0">100</button>
                    </a>
                    {% endif %}

                    {% if unit.quantity_marshaled > active_player.regions_ruled|multiply:1000 and unit.quantity_marshaled < active_player.regions_ruled|multiply:100000 %}
                    <a href="{% url 'dispatch_to_all_regions' unit.id 1000 %}">
                        <button class="btn-light px-1 py-0">1000</button>
                    </a>
                    {% endif %}

                    {% if unit.quantity_marshaled > active_player.regions_ruled|multiply:10000 and unit.quantity_marshaled < active_player.regions_ruled|multiply:1000000 %}
                    <a href="{% url 'dispatch_to_all_regions' unit.id 10000 %}">
                        <button class="btn-light px-1 py-0">10000</button>
                    </a>
                    {% endif %}

                    {% if unit.quantity_marshaled > active_player.regions_ruled|multiply:100000 %}
                    <a href="{% url 'dispatch_to_all_regions' unit.id 100000 %}">
                        <button class="btn-light px-1 py-0">100000</button>
                    </a>
                    {% endif %}

                    {% if unit.quantity_marshaled >= active_player.regions_ruled %}
                    <a href="{% url 'dispatch_to_all_regions' unit.id unit.max_marshal_to_all_regions %}">
                        <button class="btn-light px-1 py-0">{{ unit.max_marshal_to_all_regions }}</button>
                    </a>
                    {% else %}
                    <span>Marshaled quantity is less than number of ruled regions</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="mt-12 u-flex u-flex-column u-gap-4">
    {% for journey_region in journey_regions %}
    <div>
        <div class="w-48 w-auto-md max-w-sm">
            <a href="{% url 'region' journey_region.region.id %}">
                <h6 class="u-center text-light">Units heading to {{ journey_region.region }}</h6>
            </a>
        </div>
        {% include "maingame/journey_progress_track.html" with output_dict=journey_region.output_dict %}
    </div>
    {% endfor %}
</div>
{% endblock %}