{% extends "base.html" %}
{% load humanize %}

{% block title %}Battle Report{% endblock %}

{% block content %}
<div>
    <h6>{{ battle.event_text }}</h6>
    {% comment %} <p>{{ battle.artifact_roll_string }}</p> {% endcomment %}
    {% comment %} {% if battle.stolen_artifact %}
    <h6>{{ battle.attacker }} stole the {{ battle.stolen_artifact.name }}!</h6>
    {% endif %} {% endcomment %}

    <div class="u-flex u-flex-row u-gap-4">
        <div class="u-flex u-flex-column">
            <p class="u-center">{{ battle.op|intcomma }} OP</p>
            <table class="table striped u-border-1">
                {% for name, quantity in units_sent_dict.items %}
                <tr>
                    <td>{{ name|title }}</td>   
                    <td>{{ quantity|intcomma }}</td>
                </tr>
                {% endfor %}
            </table>
            <form class="mt-auto">
                <button class="u-center header_colors" formaction="{% url 'overview' attacker.id %}">overview</button>
            </form>
        </div>

        <span>VS.</span>

        <div class="u-flex u-flex-column">
            <p class="u-center">{{ battle.dp|intcomma }} DP</p>
            <table class="table striped u-border-1">
                {% for name, quantity in units_defending_dict.items %}
                    <tr>
                        <td>{{ name|title }}</td>
                        <td>{{ quantity|intcomma }}</td>
                    </tr>
                {% endfor %}
            </table>
            <form class="mt-auto">
                <button class="u-center header_colors" formaction="{% url 'overview' defender.id %}">overview</button>
            </form>
        </div>
    </div>

    <div>
        {% for note in battle.battle_report_notes %}
        <p>{{ note }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
