<span>
    {% if building_type.amount_produced > 0 %}
    Produces 
    {% if is_ideal_terrain %}
    <s>{{ building_type.amount_produced }}</s> <b>{{ building_type.amount_produced|add:building_type.amount_produced }}</b>
    {% else %}
    {{ building_type.amount_produced }}
    {% endif %}
    {{ building_type.resource_produced }} per tick.
    {% endif %}

    {% if building_type.trade_multiplier > 0 %}
    Improves trade prices by
    {% if is_ideal_terrain %}
    <s>{{ building_type.trade_multiplier }}</s> <b>{{ building_type.trade_multiplier|add:building_type.trade_multiplier }}%.</b>
    {% else %}
    {{ building_type.trade_multiplier }}%.
    {% endif %}
    {% endif %}

    {% if building_type.defense_multiplier > 0 %}
    Increases defense here by
    {% if is_ideal_terrain %}
    <s>{{ building_type.defense_multiplier }}</s> <b>{{ building_type.defense_multiplier|add:building_type.defense_multiplier }}%.</b>
    {% else %}
    {{ building_type.defense_multiplier }}%.
    {% endif %}
    {% endif %}
</span>


<!-- 
def description(self):
        traits_list = []

        if self.amount_produced > 0:
            traits_list.append(f"Produces {self.amount_produced} {self.resource_produced} per tick.")

        if self.defense_multiplier > 0:
            traits_list.append(f"Increases defense here by {self.defense_multiplier}%.")

        if self.trade_multiplier > 0:
            traits_list.append(f"Increases gold from trades by {self.trade_multiplier}%.")

        traits_list.append(f"Houses {self.housing}.")

        return " ".join(traits_list) -->