{% extends "base.html" %}
{% load humanize %}

{% block title %}Buildings{% endblock %}

{% block tutorial %}
{% include "maingame/tutorial_text.html" with page="buildings" %}
{% endblock %}

{% block content %}
<div>
    <details class="accordion card card_colors max-w-md">
        <summary class="accordion__summary">Details</summary>
        <p>
            Buildings produce resources. Each building is assigned a percent, which represents what percent of your acres is dedicated to that building type.
            Each tick, you'll get an amount of that resource equal to the production of that building multiplied by the amount of acres dedicated to it.
        </p>
        <p>
            For example, if you have 500 acres and 20% of your land is dedicated to a building that produces 8 widgets per tick, that means 100 acres (20% of 500)
            are dedicated to that building, so you'll produce 800 widgets (100 times 8) per tick.
        </p>
        <p>
            When allocating building percentages, the total must equal exactly 100%.
        </p>
    </details>

    <div>
        <h6>You have {{ active_dominion.acres }} acres.</h6>
    </div>

    <form action="{% url 'submit_building' %}" method="post" class="">
        {% csrf_token %}

        <div class="u-flex u-flex-wrap u-gap-2">
        {% for building in buildings %}
        {% if building.percent_of_land > 0 or building.is_buildable %}
        {% include "maingame/building_card.html" %}
        {% endif %}
        {% endfor %}
        </div>

        <div class="u-center u-flex u-flex-column mt-2" style="width: fit-content">
            <div class="u-flex u-flex-row u-gap-1" id="total-percent-container">
                <h6>Total:</h6>
                <h6 id="total-percent-readout">100</h6>
                <h6>%</h6>
            </div>
            <button class="header_colors w-16 h-6 p-0 u-center" type="submit" id="building-submit-button">
                <span class="font-bold">Submit</span>
            </button>
        </div>
    
    </form>

    <script>
        function updateTotalPercent() {
            const inputs = document.querySelectorAll('.building-input');
            const totalPercentReadout = document.getElementById("total-percent-readout");
            const totalPercentContainer = document.getElementById("total-percent-container");
            const buildingSubmitButton = document.getElementById("building-submit-button");
            
            let totalPercent = 0

            inputs.forEach(input => {
                totalPercent = totalPercent + parseInt(input.value)
            });

            totalPercentReadout.innerHTML = totalPercent

            if (totalPercent == 100) {
                totalPercentContainer.classList.remove("text-red-400")
                buildingSubmitButton.disabled = false
            } else {
                totalPercentContainer.classList.add("text-red-400")
                buildingSubmitButton.disabled = true
            }
        }
    </script>
</div>
{% endblock %}