{% extends "base.html" %}
{% load humanize %}

{% block title %}Buildings{% endblock %}

{% block tutorial %}
{% include "maingame/tutorial_text.html" with page="buildings" %}
{% endblock %}

{% block content %}
<div class="max-w-lg">
    <details class="accordion card card_colors max-w-md">
        <summary class="accordion__summary">Details</summary>
        <p>
            Buildings produce resources. Each building is assigned a percent, which represents what percent of your acres is dedicated to that building type.
            Each tick, you'll get an amount of that resource equal to the production of that building multiplied by the amount of acres dedicated to it.
        </p>
        <p>
            For example, if you have 500 acres and 20% of your land is dedicated to a building that produces 8 widgets per tick, that means 100 acres (20% of 500)
            are dedicated to that building, so you'll produce 800 widgets (100 times 8) per tick.
        </p>
        <p>
            When allocating building percentages, the total must equal exactly 100%.
        </p>
        {% if active_dominion.faction_name == "sludgeling" %}
        <p>
            Goop isn't produced by buildings. You get 50 goop per acre per tick.
        </p>
        {% else %}
        <p>
            Gold isn't produced by buildings. You get 50 gold per acre per tick.
        </p>
        {% endif %}
        <p>
            Some things spend resources every tick, primarily unit upkeep costs. Note that if you run out of
            a resource that's being consumed, you'll slowly lose units until you can afford all of your upkeeps.
        </p>
        {% if active_dominion.faction_name == "blessed order" %}
        <p>
            Faith is unusual in that it's generated not by acres or buildings, but by your units. Its primary use is that, when you get invaded, your casualties
            will become Blessed Martyrs for 1,000 faith apiece.
        </p>
        <p>
            heretics aren't quite a normal resource. Each one drains one faith every tick. You'll need to start an inquisition from the Church Affairs page to
            get rid of them... unless you can discover another way?
        </p>
        {% endif %}
    </details>

    {% if active_dominion.faction_name == "goblin" %}
        <h6>All hail {{ active_dominion.perk_dict.goblin_ruler }} who loves {{ active_dominion.perk_dict.rulers_favorite_resource }}</h6>
    {% endif %}

    {% if active_user_settings.tutorial_step > 1 %}
    <div class="">
        <table class="table striped max-w-md">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Produced</th>
                    <th>Spent</th>
                    <th>Net</th>
                    {% if active_dominion.faction_name == "goblin" and not active_dominion.is_oop %}
                    <th>Restart</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for key, value in resources_dict.items %}
                <tr>
                    <td class="u-align-middle {% if key == active_dominion.perk_dict.rulers_favorite_resource %}font-bold{% endif %}">{{ value.name|title }}</th>
                    <td class="u-align-middle text-green-400 {% if key == active_dominion.perk_dict.rulers_favorite_resource %}font-bold{% endif %}">{{ value.produced|intcomma }}</td>
                    <td class="u-align-middle text-red-400">{{ value.consumed|intcomma }}</td>
                    <td class="u-align-middle {% if value.net < 0 %}text-red-400{% else %}text-green-400{% endif %} {% if key == active_dominion.perk_dict.rulers_favorite_resource %}font-bold{% endif %}">{{ value.net|intcomma }}</td>
                    {% if active_dominion.faction_name == "goblin" and not active_dominion.is_oop and not value.name == "gold" and not value.name == "rats" %}
                    <td>
                        <form>
                            <button class="u-center header_colors py-0" formaction="{% url 'goblin_restart' value.name %}">Restart</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <div>
        <h6>You have {{ active_dominion.acres }} acres.</h6>
    </div>

    <form action="{% url 'submit_building' %}" method="post" class="">
        {% csrf_token %}

        <div class="u-flex u-flex-wrap u-gap-2">
        {% for building in buildings %}
        {% if building.percent_of_land > 0 or building.is_buildable %}
        {% include "maingame/components/building_card.html" %}
        {% endif %}
        {% endfor %}
        </div>

        <div class="u-center u-flex u-flex-column mt-2" style="width: fit-content">
            <div class="u-flex u-flex-row u-gap-1" id="total-percent-container">
                <h6>Total:</h6>
                <h6 id="total-percent-readout">100</h6>
                <h6>%</h6>
            </div>
            <button class="header_colors w-16 h-6 p-0 u-center" type="submit" id="building-submit-button">
                <span class="font-bold">Submit</span>
            </button>
        </div>
    
    </form>

    <script>
        function updateTotalPercent() {
            const inputs = document.querySelectorAll('.building-input');
            const totalPercentReadout = document.getElementById("total-percent-readout");
            const totalPercentContainer = document.getElementById("total-percent-container");
            const buildingSubmitButton = document.getElementById("building-submit-button");
            
            let totalPercent = 0

            inputs.forEach(input => {
                if (input.value) {
                    totalPercent = totalPercent + parseInt(input.value)
                }
            });

            totalPercentReadout.innerHTML = totalPercent

            if (totalPercent == 100) {
                totalPercentContainer.classList.remove("text-red-400")
                buildingSubmitButton.disabled = false
            } else {
                totalPercentContainer.classList.add("text-red-400")
                buildingSubmitButton.disabled = true
            }
        }
    </script>
</div>
{% endblock %}