{% load humanize %}

<div class="card card_colors px-2 pb-2 pt-1 u-flex u-flex-column w-64-md {% if building.quantity > 0 %} u-border-1 u-border-gray-700{% endif %}">
    <div class="u-flex u-justify-space-between">
        <span class="text-xl">{{ building.name|title }}</span>
        {% if building.quantity == 0 %}
        <span>None</span>
        {% else %}
        <span>{{ building.quantity|intcomma}}</span>
        {% endif %}
        <span>{{ building.percent }}%</span>
    </div>
    
    <div class="u-flex u-flex-row u-justify-space-between">
        <span class="u-align-middle mr-2">{{ building.description }}</span>
        {% if show_upgrades %}
        <a href="{% url 'upgrade_building' building.id %}">
            <button class="header_colors px-1 py-0" {% if building.upgrade_cost > research_points_available %}disabled{% endif %}>
                Upgrade: {{ building.upgrade_cost|intcomma }} research
            </button>
        </a>
        {% elif building.is_buildable %}
        
        {% if max_buildable >= building.quantity %}
        <input type="number" class="w-16" name="build_{{ building.id }}" min="0" max="{{ max_buildable }}" />
        {% else %}
        <input type="number" class="w-16" name="build_{{ building.id }}" min="0" max="{{ building.quantity }}" />
        {% endif %}

        {% else %}
        <div>
            <span class="text-red-400">Can't be built</span>
        </div>
        {% endif %}
    </div>
</div>