{% extends "base.html" %}

{% block title %}Buildings{% endblock %}

{% block content %}
<div>
    {% if active_player.show_tutorials %}
    <p>
        While there are exceptions, most buildings produce resources each tick. Each has a cost to build with a primary and secondary resource. The cost
        per building increases depending on how many acres you have. Unlike units, buildings are constructed instantly. You can also destroy buildings,
        which is free and also instant. This offers no refunds, just a chance to build something else in its place.
    </p>
    <p>You can construct one building per acre. If you have fewer than that, the available space is referred to as "barren" acres.</p>
    {% endif %}
    <h6>{{ active_player.barren_acres}} barren acres</h6>
    <p>Buildings cost {{ active_player.building_primary_cost }}{{ primary_resource.icon }} and {{ active_player.building_secondary_cost }}{{ secondary_resource.icon }}</p>
    <form action="{% url 'submit_building' %}" method="post" class="">
        {% csrf_token %}

        <div class="u-flex u-flex-wrap u-gap-2">
        {% for building in buildings %}
        {% if building.quantity > 0 or building.is_buildable %}
        {% include "maingame/building_card.html" %}
        {% endif %}
        {% endfor %}
        </div>

        <div class="u-center u-flex u-gap-4 mt-2" style="width: fit-content">
            <select name="buildOrDestroy" class="w-16 h-6 u-center">
                <option selected>Build</option>
                <option>Destroy</option>
            </select>
            <button class="btn-light w-16 h-6 p-0 u-center" type="submit">
                <span class="font-bold">Submit</span>
            </button>
        </div>
    
    </form>
</div>
{% endblock %}