{% extends "base.html" %}
{% load extra_tags %}
{% load tz %}
{% load humanize %}

{% block title %}News{% endblock %}

{% block content %}
<div class="u-flex u-flex-column u-gap-2">
    <details class="accordion card card_colors max-w-md">
        <summary class="accordion__summary">Tutorial notes</summary>
        <p>
            Here is where you can start inquisitions. Inquisitions are how you get rid of sinners at the expense of being unable to
            attack for 24 ticks (though you could send an attack and then launch an inquisition right after).
        </p>
    </details>

    <div class="u-flex u-flex-row mb-2">
        <div class="w-12 u-flex">
            <h6 class="u-center">Sinners:</h6>
        </div>
        <div class="u-flex u-flex-row u-gap-1">
            <h6 class="u-center">{{ sinners|intcomma }}</h6>
            <span class="u-center">({% if sinners_per_tick > 0%}+{% endif %}{{ sinners_per_tick|intcomma }} per tick)</span>
        </div>
    </div>

    {% if inquisition_ticks_left > 0 %}<h6>The inquisition will continue for {{ inquisition_ticks_left }} ticks.</h6>{% endif %}

    {% if active_dominion.protection_ticks_remaining > 0 %}
    <span>Note: Sinners are not gained during protection, but can be removed by inquisition</span>
    {% endif %}

    <div class="card header_colors px-1 py-2 max-w-xs">
        <h5 class="u-center">Inquisition</h5>
        <p>
            Inquisitions last 24 ticks. While active, you won't be able to invade, but sinners will stop appearing and will be eliminated entirely
            over the course of that time.
        </p>
        <form>
            <button class="u-center" formaction="{% url 'submit_inquisition' %}">Start inquisition</button>
        </form>
    </div>
</div>

{% endblock %}
