{% extends "base.html" %}
{% load humanize %}

{% block title %}Discoveries{% endblock %}

{% block tutorial %}
{% include "maingame/tutorial_text.html" with page="discoveries" %}
{% endblock %}

{% block content %}
<div>
    <details class="accordion card card_colors max-w-md">
        <summary class="accordion__summary">Details</summary>
        <p>
            You'll gain the ability to make a new Discovery every 50 ticks. These grant access to new units, buildings, spells, etc. New discoveries will be unlocked
            after satisfying certain conditions - usually they come from making other discoveries, but some require other conditions to be met. When you make a
            discovery, you'll be notified of any new discoveries you have access to.
        </p>
        <p>
            Some units have special perks. These are marked by differently-colored text and the description can be seen by mousing over the name (desktop)
            or tapping on the name (mobile).
        </p>
    </details>
    <p>Ticks to next discovery: {{ active_dominion.ticks_to_next_discovery }}</p>
    <p>Discoveries available: {{ active_dominion.discoveries_to_make }}</p>
    {% if active_dominion.faction_name == "dwarf" and "mining_depth" in active_dominion.perk_dict %}
        <div class="font-bold 
            {% if active_dominion.perk_dict.mining_depth >= 400000 and 'The Deep Angels' not in active_dominion.learned_discoveries %}
            p-1 bg-gray-900 text-red-400
            {% elif active_dominion.perk_dict.mining_depth >= 200000 and 'The Deep Angels' not in active_dominion.learned_discoveries %}
            p-1 bg-gray-800 text-gray-300
            {% elif 'Deep Angels' not in active_dominion.perk_dict %}
            p-1 bg-gray-800 text-yellow-200
            {% endif %}"
        >
            <p>Your miners have dug {{ depth }} deep.</p>
            {% if active_dominion.perk_dict.mining_depth >= 200000 and "The Deep Angels" not in active_dominion.learned_discoveries %}
            <p>It's getting very dark down here.</p>
            {% endif %}
            {% if active_dominion.perk_dict.mining_depth >= 400000 and "The Deep Angels" not in active_dominion.learned_discoveries %}
            <p><em>And something else is down here with you.</em></p>
            {% endif %}
            {% if "The Deep Angels" in active_dominion.learned_discoveries %}
            <p>And it is perfect.</p>
            {% endif %}
        </div>
    {% endif %}

    <form action="{% url 'submit_discovery' %}" method="post" class="">
        {% csrf_token %}
        <div class="u-center u-flex u-gap-4 mt-2" style="width: fit-content">
            <select name="discovery_name" class="w-32 h-6 u-center">
                <option selected></option>
                {% for discovery in available_discoveries %}
                {% if active_user_settings.tutorial_step >= 9 or discovery.name == "Palisades" or discovery.name == "Battering Rams" or discovery.name == "Prosperity" %}
                <option value="{{ discovery.name }}">{{ discovery.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button class="header_colors w-16 h-6 p-0 u-center" type="submit" {% if active_dominion.discoveries_to_make < 1 %}disabled{% endif %}>
                <span class="font-bold">Submit</span>
            </button>
        </div>
    </form>

    <div class="u-flex u-flex-wrap u-gap-2">
        {% for discovery in available_discoveries %}
        {% if active_user_settings.tutorial_step >= 9 or discovery.name == "Palisades" or discovery.name == "Battering Rams" or discovery.name == "Prosperity" %}
        <div class="card card_colors p-1 w-100p max-w-xs">
            <h6>{{ discovery.name }}</h6>
            <p>{{ discovery.description }}</p>
            {% if discovery.associated_unit_name %}
        
            <table class="table striped card_colors">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Pwr</th>
                        <th>Upkeep</th>
                        <th class="w-16">Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <div class="modal card_colors w-32 h-24 u-center u-align-middle my-auto" id="test-modal">
                        <div class="modal-header u-flex u-flex-column u-justify-space-between">
                            <p>{{ discovery.associated_unit.perk_text }}</p>
                        </div>
                    </div>
                    <tr>
                        {% include "maingame/unit_name_row.html" with unit=discovery.associated_unit %}
                        <td class="u-align-middle">{{ discovery.associated_unit.op|intcomma }} / {{ discovery.associated_unit.dp|intcomma }}</td>
                        <td class="u-align-middle">
                            <div class="u-flex u-flex-column">
                                {% for resource, amount in discovery.associated_unit.upkeep_dict.items %}
                                <span>{{ amount|intcomma }} {{ resource }}</span>
                                {% endfor %}
                            </div>
                        </td>
                        <td class="u-align-middle">
                            <div class="u-flex u-flex-column">
                                {% for resource, amount in discovery.associated_unit.cost_dict.items %}
                                <span>{{ amount|intcomma }} {{ resource }}</span>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
