{% load humanize %}
{% load extra_tags %}

<table class="table striped card_colors">
    <thead>
        <tr>
            <th>Name</th>
            <th>Pwr</th>
            <th class="w-16">Cost</th>
            <th>Upkeep</th>
        </tr>
    </thead>
    <tbody>
        <div class="modal card_colors w-32 h-24 u-center u-align-middle my-auto" id="test-modal">
            <div class="modal-header u-flex u-flex-column u-justify-space-between">
                <p>{{ unit.perk_text }}</p>
            </div>
        </div>
        <tr>
            {% include "maingame/unit_name_row.html" with unit=unit %}
            <td class="u-align-middle u-text-no-wrap">{{ unit.op|intcomma }}&nbsp;/&nbsp;{{ unit.dp|intcomma }}</td>
            <td class="u-align-middle">
                <div class="u-flex u-flex-column">
                    {% for resource, amount in unit.cost_dict.items %}
                    <span>{{ amount|intcomma }}&nbsp;{{ resource|depluralize:amount }}</span>
                    {% endfor %}
                </div>
            </td>
            <td class="u-align-middle">
                <div class="u-flex u-flex-column">
                    {% for resource, amount in unit.upkeep_dict.items %}
                    <span>{{ amount|intcomma }}&nbsp;{{ resource|depluralize:amount }}</span>
                    {% endfor %}
                </div>
            </td>
        </tr>
    </tbody>
</table>