{% extends "base.html" %}
{% load humanize %}

{% block title %}Discoveries{% endblock %}

{% block content %}
<div>
    <p>Ticks to next discovery: {{ active_player.ticks_to_next_discovery }}</p>
    <p>Discoveries available: {{ active_player.discoveries_to_make }}</p>

    <form action="{% url 'submit_discovery' %}" method="post" class="">
        {% csrf_token %}
        <div class="u-center u-flex u-gap-4 mt-2" style="width: fit-content">
            <select name="discovery_name" class="w-32 h-6 u-center">
                <option selected></option>
                {% for discovery in available_discoveries %}
                <option value="{{ discovery.name }}">{{ discovery.name }}</option>
                {% endfor %}
            </select>
            <button class="btn-light w-16 h-6 p-0 u-center" type="submit">
                <span class="font-bold">Submit</span>
            </button>
        </div>
    </form>

    <div class="u-flex u-flex-wrap u-gap-2">
        {% for discovery in available_discoveries %}
        <div class="card bg-gray-900 p-1 w-48">
            <h6>{{ discovery.name }}</h6>
            <p>{{ discovery.description }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
