{% extends "base.html" %}
{% load humanize %}

{% block title %}Faction Info{% endblock %}

{% block tutorial %}
{% include "maingame/tutorial_text.html" with page="faction_info" %}
{% endblock %}

{% block content %}
{% comment %} <script>
    var delayInMilliseconds = 3000;

    setTimeout(function() {
        let orderName = document.getElementById("order-name");
        orderName.innerHTML = "Fallen Order"
    }, delayInMilliseconds);

    setTimeout(function() {
        let orderName = document.getElementById("order-name");
        orderName.innerHTML = "Blessed Order"
    }, delayInMilliseconds + 500);

    setTimeout(function() {
        let orderName = document.getElementById("order-name");
        orderName.innerHTML = "Fallen Order"
    }, delayInMilliseconds * 3);

    setTimeout(function() {
        let orderName = document.getElementById("order-name");
        orderName.innerHTML = "Blessed Order"
    }, delayInMilliseconds * 3 + 500);
</script> {% endcomment %}
<div>
    <h6>
        Until the game reaches a less "beta" state, the faction descriptions on this page are written manually 
        and I sometimes forget to update them. If you're planning on enacting a strategy that is contingent 
        on them being accurate, you may wish to double check their accuracy with me on Discord.
    </h6>
    <div class="u-flex u-flex-wrap u-gap-4">
        {% for faction_dict in factions %}
        <div class="card card_colors p-1 max-w-xs p-2">
            <h6 {% if faction_dict.faction.name == 'blessed order' %}id="order-name"{% endif %}>{{ faction_dict.faction.name|title }}</h6>
            <table class="table striped card_colors">
                <tr>
                    <th>Name</th>
                    <th>Pwr</th>
                    <th>Upkeep</th>
                    <th>Cost</th>
                </tr>
                {% for unit in faction_dict.units %}
                <tr>
                    {% include "maingame/components/unit_name_row.html" %}
                    <td class="u-align-middle" style="white-space:nowrap">{{ unit.op|intcomma }} / {{ unit.dp|intcomma }}</td>
                    <td class="u-align-middle">
                        <div class="u-flex u-flex-column">
                            {% for resource, amount in unit.upkeep_dict.items %}
                            <span>{{ amount|intcomma }} {{ resource }}</span>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="u-align-middle">
                        <div class="u-flex u-flex-column">
                            {% for resource, amount in unit.cost_dict.items %}
                            <span>{{ amount|intcomma }} {{ resource }}</span>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="u-flex u-flex-column">
                {% for description_text in faction_dict.faction.description_list %}
                    <span>{{ description_text }}</span>
                {% endfor %}
            </div>
            {% comment %} <span>{{ faction_dict.faction.description }}</span> {% endcomment %}
        </div>
        {% endfor %}
    </div>
    <div class="u-flex u-flex-column u-gap-8 pt-8">
        {% for faction_dict in factions %}
            <div class="u-flex u-flex-column u-gap-2">
                <div class="max-w-lg">
                    <h4 class="u-center">{{ faction_dict.faction.name|title }}</h4>
                </div>
                <div class="u-flex u-flex-wrap u-gap-2">
                    {% for discovery in faction_dict.discoveries %}
                        <div class="card card_colors p-1 w-100p max-w-xs u-overflow-x-scroll md:u-overflow-x-hidden">
                            <h6>{{ discovery.name }}</h6>
                            <p class="text-xs">
                                {{ discovery.description }}
                                {% if discovery.repeatable %}
                                    (Repeatable)
                                {% endif %}
                            </p>
                            {% if discovery.requirement_string %}
                                <p class="text-xs">Requires: {{ discovery.requirement_string }}</p>
                            {% endif %}

                            {% if discovery.associated_unit_name %}
                            <details class="px-1 py-0 accordion md:u-none">
                                <summary class="accordion__summary text-xs">Unit info</summary>
                                {% include "maingame/components/discovery_unit_card.html" with unit=discovery.associated_unit %}
                                {% if discovery.associated_unit.has_perks %}
                                <span class="md:u-none">{{ discovery.associated_unit.perk_text }}</span>
                                {% endif %}
                            </details>

                            <div class="u-none md:u-block">
                                {% include "maingame/components/discovery_unit_card.html" with unit=discovery.associated_unit %}
                                {% if discovery.associated_unit.has_perks %}
                                <span class="md:u-none">{{ discovery.associated_unit.perk_text }}</span>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
