{% extends "base.html" %}
{% load extra_tags %}
{% load tz %}

{% block title %}News{% endblock %}

{% block content %}
<div class="">
    {% if active_user_settings.show_tutorials %}
        <p>
            Shows significant events in the round, primarily invasions and dominions signing up.
        </p>
    {% endif %}

    <div>
    {% for event in displayed_events %}
        <div class="card {% if active_dominion in event.event.notified_dominions_list or event.event.reference_id == active_dominion.id %}header_colors{% else %}card_colors{% endif %} p-1 max-w-md">
            <div class="w-100p u-flex u-justify-space-between h-4">
                <div>
                    <span class="font-bold">
                    {% if active_user_settings.use_am_pm %}
                    {{ event.event.timestamp|timezone:active_user_settings.timezone|date:"F j, g:i:s a" }}
                    {% else %}
                    {{ event.event.timestamp|timezone:active_user_settings.timezone|date:"F j, G:i:s" }}
                    {% endif %}
                    </span>
                </div>
                {% if event.event.reference_type == "battle" %}
                <form>
                    <button class="u-center {% if active_dominion in event.event.notified_dominions_list or event.event.reference_id == active_dominion.id %}base_colors{% else %}header_colors{% endif %} py-0" formaction="{% url 'battle_report' event.event.reference_id %}">Details</button>
                </form>
                {% endif %}
            </div>
            <div>
                <span>{{ event.event }}</span>
            </div>
            <div>
                <span>{{ event.event.extra_text}}</span>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
