{% extends "base.html" %}
{% load extra_tags %}
{% load tz %}

{% block title %}News{% endblock %}

{% block content %}
<div class="">
    {% if active_user_settings.show_tutorials %}
        <p>
            Shows significant events in the round, primarily invasions and dominions signing up.
        </p>
    {% endif %}

    <div>
    {% for event in displayed_events %}
        <div class="card card_colors p-1">
            <div class="w-100p u-flex u-justify-space-between">
                <div>
                    <span class="font-bold">
                    {% if active_user_settings.use_am_pm %}
                    {{ event.event.timestamp|timezone:active_user_settings.timezone|date:"F j, g:i:s a" }}
                    {% else %}
                    {{ event.event.timestamp|timezone:active_user_settings.timezone|date:"F j, G:i:s" }}
                    {% endif %}
                    </span>
                </div>
                {% if event.event.reference_type == "battle" %}
                <a href="{% url 'battle_report' event.event.reference_id %}">
                    <button class="py-0">Details</button>
                </a>
                {% endif %}
                {% comment %} <span class="font-bold">{{ event.event.category }}</span> {% endcomment %}
            </div>
            <div>
                <span>{{ event.event }}</span>
            </div>
            <div>
                <span>{{ event.event.extra_text}}</span>
            </div>
        </div>
    {% endfor %}
    </div>
    {% comment %} <table class="table striped max-w-md">
        <tbody>
            {% for event in displayed_events %}
            <tr class="{% if event.involves_dominion %}text-yellow-300{% endif %}">
                {% if active_user_settings.use_am_pm %}
                <th class="u-align-middle">{{ event.event.timestamp|timezone:active_user_settings.timezone|date:"F j, g:i:s a" }}</th>
                {% else %}
                <th class="u-align-middle">{{ event.event.timestamp|timezone:active_user_settings.timezone|date:"F j, G:i:s" }}</th>
                {% endif %}
                <th class="u-align-middle">{{ event.event.category }}</th>
                <th class="u-align-middle">{{ event.event }}</th>
                <th class="u-align-middle">
                    {% if event.event.reference_type == "battle" %}
                    <a href="{% url 'battle_report' event.event.reference_id %}">
                        <button class="py-0">Info</button>
                    </a>
                    {% else %}
                    {{ event.event.extra_text }}
                    {% endif %}
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table> {% endcomment %}
</div>

{% endblock %}
