{% extends "base.html" %}
{% load extra_tags %}
{% load tz %}

{% block title %}News{% endblock %}

{% block content %}
<div class="">
    {% if active_user_settings.show_tutorials %}
        <p>
            Shows significant events in the round, primarily invasions and dominions signing up.
        </p>
    {% endif %}

    <div>
    {% for event in displayed_events %}
        <div class="card card_colors p-1">
            <div class="w-100p u-flex u-justify-space-between">
                <div>
                    <span class="font-bold">
                    {% if active_user_settings.use_am_pm %}
                    {{ event.event.timestamp|timezone:active_user_settings.timezone|date:"F j, g:i:s a" }}
                    {% else %}
                    {{ event.event.timestamp|timezone:active_user_settings.timezone|date:"F j, G:i:s" }}
                    {% endif %}
                    </span>
                </div>
                {% if event.event.reference_type == "battle" %}
                <a href="{% url 'battle_report' event.event.reference_id %}">
                    <button class="header_colors py-0">Details</button>
                </a>
                {% endif %}
                {% comment %} <span class="font-bold">{{ event.event.category }}</span> {% endcomment %}
            </div>
            <div>
                <span>{{ event.event }}</span>
            </div>
            <div>
                <span>{{ event.event.extra_text}}</span>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
