{% extends "base.html" %}

{% block title %}Options{% endblock %}

{% block content %}
<div>
    <form action="{% url 'submit_options' %}" method="post" class="u-flex u-flex-column u-gap-4">
        {% csrf_token %}
        <div>
            <label for="display_name">Display name</label>
            <input name="display_name" value="{{ current_display_name }}" />
        </div>

        <div class="form-ext-control pl-0 w-12">
            <label class="form-ext-toggle__label u-flex u-flex-row u-gap-2">
                <span>Tutorials</span>
                <div class="form-ext-toggle">
                    <input name="show_tutorials" type="checkbox" class="form-ext-input" {% if active_user_settings.show_tutorials %}checked{% endif %} />
                    <div class="form-ext-toggle__toggler"><i></i></div>
                </div>
            </label>
        </div>

        <div class="form-ext-control pl-0 w-24">
            <label class="form-ext-toggle__label u-flex u-flex-row u-gap-2">
                <span>Use AM/PM in timestamps</span>
                <div class="form-ext-toggle">
                    <input name="use_am_pm" type="checkbox" class="form-ext-input" {% if active_user_settings.use_am_pm %}checked{% endif %} />
                    <div class="form-ext-toggle__toggler"><i></i></div>
                </div>
            </label>
        </div>

        <div class="u-flex u-flex-column">
            <label for="theme">Theme</label>
            <select name="theme" class="">
                {% for theme in themes %}
                <option {% if theme == active_user_settings.theme %}selected{% endif %}>{{ theme }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <h6 class="my-auto">Set timezone</h6>
            <div class="max-w-md u-flex-grow-1 my-auto">
                <select id="tom-select-it" name="timezone">
                    {% for timezone in timezones %}
                    <option {% if timezone == active_user_settings.timezone %}selected{% endif %}>{{ timezone }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <script>
            var config = {
                sortField: {
                field: "text",
                direction: "asc"
            }
            };
            new TomSelect('#tom-select-it', config);
        </script>

        <button class="header_colors mt-4 w-16 h-6 p-0 u-center" type="submit">
            <span class="font-bold">Submit</span>
        </button>
    </form>
</div>
{% endblock %}
