{% extends "base.html" %}

{% block title %}Options{% endblock %}

{% block content %}
<div>
    <form action="{% url 'submit_options' %}" method="post" class="u-flex u-flex-column">
        {% csrf_token %}
        <div class="form-ext-control pl-0 w-24">
            <label class="form-ext-toggle__label u-flex u-flex-row u-gap-2">
                <span>Tutorials</span>
                <div class="form-ext-toggle">
                    <input name="show_tutorials" type="checkbox" class="form-ext-input" {% if active_player.show_tutorials %}checked{% endif %} />
                    <div class="form-ext-toggle__toggler"><i></i></div>
                </div>
            </label>
        </div>

        <div class="form-ext-control pl-0 w-24">
            <label class="form-ext-toggle__label u-flex u-flex-row u-gap-2">
                <span>Dark mode</span>
                <div class="form-ext-toggle">
                    <input name="dark_mode" type="checkbox" class="form-ext-input" {% if active_player.dark_mode %}checked{% endif %} />
                    <div class="form-ext-toggle__toggler"><i></i></div>
                </div>
            </label>
        </div>

        <div class="form-ext-control pl-0 w-32 mt-8">
            <div class="u-flex u-flex-column">
                <h6>Abandon</h6>
                <span>This will delete everything you have and you can re-register</span>
            </div>
            <label class="form-ext-toggle__label u-flex u-flex-row w-24 mt-2">
                <span>Do it</span>
                <div class="form-ext-toggle">
                    <input name="abandon" type="checkbox" class="form-ext-input" />
                    <div class="form-ext-toggle__toggler"><i></i></div>
                </div>
            </label>
            <label class="form-ext-toggle__label u-flex u-flex-row w-48 mt-2">
                <span class="w-24">Really do it</span>
                <select name="confirm_abandon">
                    <option></option>
                    <option>DELETE ME FOREVER</option>
                </select>
            </label>
        </div>

        <button class="btn-light mt-4 w-16 h-6 p-0 u-center" type="submit">
            <span class="font-bold">Submit</span>
        </button>
    </form>
</div>
{% endblock %}
