{% extends "base.html" %}

{% block title %}Options{% endblock %}

{% block content %}
<div>
    <form action="{% url 'submit_options' %}" method="post" class="u-flex u-flex-column u-gap-4">
        {% csrf_token %}
        <span>Your custom theme</span>
        <div class="u-flex u-flex-wrap u-gap-2 u-gap-8-md">
            <div class="u-flex u-flex-column u-gap-1">
                <div class="u-flex u-flex-row">
                    <input type="color" id="header_background" name="header_background" value="{{ current_theme.header_background }}" class="w-12" oninput="updatePreview()"/>
                    <label for="head" class="u-center">Header background</label>
                </div>
                <div class="u-flex u-flex-row">
                    <input type="color" id="header_text" name="header_text" value="{{ current_theme.header_text }}" class="w-12" oninput="updatePreview()"/>
                    <label for="head" class="u-center">Header text</label>
                </div>
            </div>
            <div class="u-flex u-flex-column u-gap-1">
                <div class="u-flex u-flex-row">
                    <input type="color" id="base_background" name="base_background" value="{{ current_theme.base_background }}" class="w-12" oninput="updatePreview()"/>
                    <label for="head" class="u-center">Body background</label>
                </div>
                <div class="u-flex u-flex-row">
                    <input type="color" id="base_text" name="base_text" value="{{ current_theme.base_text }}" class="w-12" oninput="updatePreview()"/>
                    <label for="head" class="u-center">Body text</label>
                </div>
            </div>
            <div class="u-flex u-flex-column u-gap-1">
                <div class="u-flex u-flex-row">
                    <input type="color" id="card_background" name="card_background" value="{{ current_theme.card_background }}" class="w-12" oninput="updatePreview()"/>
                    <label for="head" class="u-center">Card background</label>
                </div>
                <div class="u-flex u-flex-row">
                    <input type="color" id="card_text" name="card_text" value="{{ current_theme.card_text }}" class="w-12" oninput="updatePreview()"/>
                    <label for="head" class="u-center">Card text</label>
                </div>
            </div>
            <div class="u-flex u-flex-column u-gap-1">
                <div class="u-flex u-flex-row">
                    <input type="color" id="input_background" name="input_background" value="{{ current_theme.input_background }}" class="w-12" oninput="updatePreview()"/>
                    <label for="head" class="u-center">Input background</label>
                </div>
                <div class="u-flex u-flex-row">
                    <input type="color" id="input_text" name="input_text" value="{{ current_theme.input_text }}" class="w-12" oninput="updatePreview()"/>
                    <label for="head" class="u-center">Input text</label>
                </div>
            </div>
        </div>

        <div class="card card_colors u-shadow-xl p-1" style="width: fit-content;">
            <div class="h-16 w-24 u-flex u-flex-column text-xs" id="base-preview" style="background: {{ current_theme.base_background }}; color: {{ current_theme.base_text }};">
                <div class="u-flex u-flex-row u-gap-2 h-4 pl-4" id="header-preview" style="background: {{ current_theme.header_background }}; color: {{ current_theme.header_text }};">
                    <span id="gold-preview" style="color: {{ current_theme.header_text }}">Gold: 123</span>
                    <span id="ore-preview" style="color: {{ current_theme.header_text }}">Ore: 50</span>
                </div>
                <div class="u-flex u-flex-row">
                    <div class="u-flex u-flex-column w-4 h-12" id="sidebar-preview" style="background: {{ current_theme.header_background }}; color: {{ current_theme.header_color }};">
                        <span id="menu-a-preview" style="color: {{ current_theme.header_text }}">Menu</span>
                        <span id="menu-b-preview" style="color: {{ current_theme.header_text }}">Items</span>
                        <span id="menu-c-preview" style="color: {{ current_theme.header_text }}">Here</span>
                    </div>
                    <div class="px-1 u-flex u-flex-column">
                        <span class="font-bold">Units</span>

                        <div class="u-flex u-flex-row u-gap-1">
                            <div class="u-flex u-flex-column u-gap-1">
                                <div class="h-3 w-8 px-1" id="card-preview-a" style="background: {{ current_theme.card_background }}; color: {{ current_theme.card_text }};">
                                    Orc 2/6
                                </div>
                                <div class="h-3 w-8 px-1" id="card-preview-b" style="background: {{ current_theme.card_background }}; color: {{ current_theme.card_text }};">
                                    Elf 5/3
                                </div>
                            </div>

                            <div class="u-flex u-flex-column u-gap-1">
                                <div class="h-3 w-8 px-1 u-border-1" id="input-preview-a" style="background: {{ current_theme.input_background }}; color: {{ current_theme.input_text }};">
                                    123
                                </div>
                                <div class="h-3 w-8 px-1 u-border-1" id="input-preview-b" style="background: {{ current_theme.input_background }}; color: {{ current_theme.input_text }};">
                                    456
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <select name="theme" class="max-w-xs">
            {% for theme in themes %}
            <option value="{{ theme.id }}" {% if theme == active_user_settings.theme_model %}selected{% endif %}>
                {{ theme.name }}
            </option>
            {% endfor %}
        </select>

        <details class="accordion card card_colors max-w-md">
            <summary class="accordion__summary">All theme previews</summary>
            <div class="u-flex u-flex-wrap u-gap-2">
                {% for theme in themes %}
                <div>
                    <span>{{ theme.name }}
                    <div class="card card_colors u-shadow-xl p-1" style="width: fit-content;">
                        <div class="h-16 w-24 u-flex u-flex-column text-xs" style="background: {{ theme.base_background }}; color: {{ theme.base_text }};">
                            <div class="u-flex u-flex-row u-gap-2 h-4 pl-4" style="background: {{ theme.header_background }}; color: {{ theme.header_text }};">
                                <span style="color: {{ theme.header_text }}">Gold: 123</span>
                                <span style="color: {{ theme.header_text }}">Ore: 50</span>
                            </div>
                            <div class="u-flex u-flex-row">
                                <div class="u-flex u-flex-column w-4 h-12" id="sidebar-preview" style="background: {{ theme.header_background }}; color: {{ theme.header_color }};">
                                    <span style="color: {{ theme.header_text }}">Menu</span>
                                    <span style="color: {{ theme.header_text }}">Items</span>
                                    <span style="color: {{ theme.header_text }}">Here</span>
                                </div>
                                <div class="px-1 u-flex u-flex-column">
                                    <span class="font-bold">Units</span>

                                    <div class="u-flex u-flex-row u-gap-1">
                                        <div class="u-flex u-flex-column u-gap-1">
                                            <div class="h-3 w-8 px-1" style="background: {{ theme.card_background }}; color: {{ theme.card_text }};">
                                                Orc 2/6
                                            </div>
                                            <div class="h-3 w-8 px-1" style="background: {{ theme.card_background }}; color: {{ theme.card_text }};">
                                                Elf 5/3
                                            </div>
                                        </div>

                                        <div class="u-flex u-flex-column u-gap-1">
                                            <div class="h-3 w-8 px-1 u-border-1" style="background: {{ theme.input_background }}; color: {{ theme.input_text }};">
                                                123
                                            </div>
                                            <div class="h-3 w-8 px-1 u-border-1" style="background: {{ theme.input_background }}; color: {{ theme.input_text }};">
                                                456
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </details>

        <script>
            function updatePreview() {
                let basePreview = document.getElementById("base-preview");
                let headerPreview = document.getElementById("header-preview");
                let goldPreview = document.getElementById("gold-preview");
                let orePreview = document.getElementById("ore-preview");

                let sidebarPreview = document.getElementById("sidebar-preview");
                let menuApreview = document.getElementById("menu-a-preview");
                let menuBpreview = document.getElementById("menu-b-preview");
                let menuCpreview = document.getElementById("menu-c-preview");

                let cardPreviewA = document.getElementById("card-preview-a");
                let cardPreviewB = document.getElementById("card-preview-b");

                let inputPreviewA = document.getElementById("input-preview-a");
                let inputPreviewB = document.getElementById("input-preview-b");

                let headerBackground = document.getElementById("header_background").value;
                let headerText = document.getElementById("header_text").value;
                let baseBackground = document.getElementById("base_background").value;
                let baseText = document.getElementById("base_text").value;
                let cardBackground = document.getElementById("card_background").value;
                let cardText = document.getElementById("card_text").value;
                let inputBackground = document.getElementById("input_background").value;
                let inputText = document.getElementById("input_text").value;

                headerPreview.style.background = headerBackground
                headerPreview.style.color = headerText
                sidebarPreview.style.background = headerBackground
                sidebarPreview.style.color = headerText
                goldPreview.style.color = headerText
                orePreview.style.color = headerText
                menuApreview.style.color = headerText
                menuBpreview.style.color = headerText
                menuCpreview.style.color = headerText

                basePreview.style.background = baseBackground
                basePreview.style.color = baseText

                cardPreviewA.style.background = cardBackground
                cardPreviewA.style.color = cardText
                cardPreviewB.style.background = cardBackground
                cardPreviewB.style.color = cardText

                inputPreviewA.style.background = inputBackground
                inputPreviewA.style.color = inputText
                inputPreviewB.style.background = inputBackground
                inputPreviewB.style.color = inputText
            }
        </script>

        <div>
            <label for="display_name">Display name</label>
            <input name="display_name" value="{{ current_display_name }}" />
        </div>

        <div class="form-ext-control pl-0 w-24">
            <label class="form-ext-toggle__label u-flex u-flex-row u-gap-2">
                <span>Use AM/PM in timestamps</span>
                <div class="form-ext-toggle">
                    <input name="use_am_pm" type="checkbox" class="form-ext-input" {% if active_user_settings.use_am_pm %}checked{% endif %} />
                    <div class="form-ext-toggle__toggler"><i></i></div>
                </div>
            </label>
        </div>

        <div>
            <h6 class="my-auto">Set timezone</h6>
            <div class="max-w-md u-flex-grow-1 my-auto">
                <select id="tom-select-it" name="timezone">
                    {% for timezone in timezones %}
                    <option {% if timezone == active_user_settings.timezone %}selected{% endif %}>{{ timezone }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <script>
            var config = {
                sortField: {
                field: "text",
                direction: "asc"
            }
            };
            new TomSelect('#tom-select-it', config);
        </script>

        <button class="header_colors mt-4 w-16 h-6 p-0 u-center" type="submit">
            <span class="font-bold">Submit</span>
        </button>
    </form>

    <form action="{% url 'logout' %}" method="post" class="mt-8">
        {% csrf_token %}
        <button type="submit" class="px-1 py-0 w-12 h-4 header_colors">
            <span class="font-bold">Log out</span>
        </button>
    </form>
</div>
{% endblock %}
