{% extends "base.html" %}
{% load humanize %}
{% load extra_tags %}
{% load tz %}

{% block title %}Overview{% endblock %}

{% block tutorial %}
{% include "maingame/tutorial_text.html" with page="overview" %}
{% endblock %}

{% block content %}

<div class="page-container u-flex u-flex-column u-gap-4">
    <details class="accordion card card_colors max-w-md">
        <summary class="accordion__summary">Details</summary>
        <p>
            This shows just about everything about this dominion at a glance.
        </p>
        <p>
            Some units have special perks. These are marked by differently-colored text and the description can be seen by mousing over the name (desktop)
            or tapping on the name (mobile).
        </p>
    </details>

    <div class="top-info">
        {% if dominion.faction_name == "goblin" %}
        <h6>All hail {{ dominion.perk_dict.goblin_ruler }} who loves {{ dominion.perk_dict.rulers_favorite_resource }} and rules over</h6>
        {% endif %}
        
        <h6>{{ dominion.name }}</h6>
        <h6>{{ dominion.acres }} acres</h6>
        {% if dominion == active_dominion or round.has_started and dominion.is_oop %}
        <h6>{{ dominion.defense|intcomma }} defense</h6>
        <h6>({{ dominion.raw_defense|intcomma }} defense without complacency)</h6>
        {% else %}
        <h6>Defense hidden while under magical protection</h6>
        {% endif %}
        <h6>{{ dominion.successful_invasions }} successful invasions, {{ dominion.failed_defenses }} failed defenses</h6>

        {% if dominion.faction_name == "biclops" %}
            <h6>Ruled by Right {{ dominion.rulers_display_name }} and Left {{ dominion.rulers_display_name }}</h6>
            {% if dominion.perk_dict.partner_patience > 0 %}
                <h6>(one of whom will only be patient for {{ dominion.perk_dict.partner_patience }} more ticks)</h6>
            {% elif dominion.perk_dict.partner_patience <= 0 %}
                <h6>(one of whom has lost patience with the other)</h6>
            {% endif %}
        {% else %}
            <h6>Ruled by {{ dominion.rulers_display_name }}</h6>
        {% endif %}
    </div>

    {% comment %} Units {% endcomment %}
    {% if dominion == active_dominion or round.has_started and dominion.is_oop %}
    <div class="unit-table">
        <table class="table striped small max-w-sm">
            <thead>
                <tr>
                    <th>Unit</th>
                    <th>Power</th>
                    <th>Quantity (Training)</th>
                    <th>At home</th>
                </tr>
            </thead>
            <tbody>
                {% for unit in units %}
                    <tr>
                        {% include "maingame/components/unit_name_row.html" %}
                        <td class="u-align-middle" style="white-space:nowrap">{{ unit.op|intcomma }} / {{ unit.dp|intcomma }}</td>

                        <td class="u-align-middle">
                            {% include "maingame/components/current_incoming.html" with current=unit.quantity_trained_and_alive incoming=unit.quantity_in_training %}
                        </td>
                        
                        <td class="u-align-middle">{{ unit.quantity_at_home|intcomma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h6>Units will be displayed here once this dominion is out of protection and the round has started.</h6>
    {% endif %}

    {% comment %} Resource production {% endcomment %}
    <div class="u-overflow-x-scroll md:u-overflow-x-hidden">
        <table class="table striped max-w-md">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Produced</th>
                    <th>Spent</th>
                    <th>Net</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in resources_dict.items %}
                <tr>
                    <th class="u-align-middle">{{ value.name|title }}</th>
                    <td class="u-align-middle">{{ value.quantity|intcomma }}</td>
                    <td class="u-align-middle text-green-400">{{ value.produced|intcomma }}</td>
                    <td class="u-align-middle text-red-400">{{ value.consumed|intcomma }}</td>
                    <td class="u-align-middle {% if value.net < 0 %}text-red-400{% else %}text-green-400{% endif %}">{{ value.net|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% comment %} Buildings {% endcomment %}
    <div>
        <table class="table striped small max-w-xs">
            <thead>
                <tr>
                    <th>Building</th>
                    <th>Percent</th>
                    <th>Upgrades</th>
                </tr>
            </thead>
            <tbody>
                {% for building in buildings %}
                    <tr>
                        {% include "maingame/components/tooltip_td.html" with have_tooltip=True main_text=building.name tooltip_text=building.description %}
                        <td class="u-align-middle">{{ building.percent_of_land }}%</th>
                        <td class="u-align-middle">{{ building.upgrades }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% comment %} Units returning {% endcomment %}
    <div class="u-flex u-flex-column max-w-md card card_colors p-1">
        <div>
            <h6 class="u-center">Units returning</h6>
        </div>
        <div class="u-overflow-x-scroll md:u-overflow-x-hidden">
            <table class="table striped card_colors">
                <thead>
                    <tr>
                        <th class="w-24">Unit</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in units %}
                    {% if unit.quantity_returning > 0 %}
                        <tr>
                            <th class="u-align-middle">{{ unit.name }}</th>
                            <td class="u-align-middle">{{ unit.returning_dict.1|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.2|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.3|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.4|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.5|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.6|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.7|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.8|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.9|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.10|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.11|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.12|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.quantity_returning|no_zeroes|intcomma }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% comment %} Incoming acres {% endcomment %}
    <div class="u-flex u-flex-column max-w-md card card_colors p-1">
        <div>
            <h6 class="u-center ">Incoming acres</h6>
        </div>
        <div class="u-overflow-x-scroll md:u-overflow-x-hidden">
            <table class="table striped card_colors">
                <thead>
                    <tr>
                        <th class="w-24">Acres</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% if dominion.incoming_acres > 0 %}
                    <tr>
                        <td class="u-align-middle">Acres</td>
                        <td class="u-align-middle">{{ dominion.incoming_acres_dict.1|no_zeroes|intcomma }}</td>
                        <td class="u-align-middle">{{ dominion.incoming_acres_dict.2|no_zeroes|intcomma }}</td>
                        <td class="u-align-middle">{{ dominion.incoming_acres_dict.3|no_zeroes|intcomma }}</td>
                        <td class="u-align-middle">{{ dominion.incoming_acres_dict.4|no_zeroes|intcomma }}</td>
                        <td class="u-align-middle">{{ dominion.incoming_acres_dict.5|no_zeroes|intcomma }}</td>
                        <td class="u-align-middle">{{ dominion.incoming_acres_dict.6|no_zeroes|intcomma }}</td>
                        <td class="u-align-middle">{{ dominion.incoming_acres_dict.7|no_zeroes|intcomma }}</td>
                        <td class="u-align-middle">{{ dominion.incoming_acres_dict.8|no_zeroes|intcomma }}</td>
                        <td class="u-align-middle">{{ dominion.incoming_acres_dict.9|no_zeroes|intcomma }}</td>
                        <td class="u-align-middle">{{ dominion.incoming_acres_dict.10|no_zeroes|intcomma }}</td>
                        <td class="u-align-middle">{{ dominion.incoming_acres_dict.11|no_zeroes|intcomma }}</td>
                        <td class="u-align-middle">{{ dominion.incoming_acres_dict.12|no_zeroes|intcomma }}</td>
                        <td class="u-align-middle">{{ dominion.incoming_acres|no_zeroes|intcomma }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    {% comment %} Units in training {% endcomment %}
    {% if dominion == active_dominion or round.has_started and dominion.is_oop %}
    <div class="u-flex u-flex-column max-w-md card card_colors p-1">
        <div>
            <h6 class="u-center">Units in training</h6>
        </div>
        <div class="u-overflow-x-scroll md:u-overflow-x-hidden">
            <table class="table striped card_colors">
                <thead>
                    <tr>
                        <th class="w-24">Unit</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in units %}
                    {% if unit.quantity_in_training > 0 %}
                        <tr>
                            <th class="u-align-middle">{{ unit.name }}</th>
                            <td class="u-align-middle">{{ unit.training_dict.1|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.2|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.3|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.4|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.5|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.6|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.7|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.8|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.9|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.10|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.11|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.12|no_zeroes|intcomma }}</td>
                            <td class="u-align-middle">{{ unit.quantity_in_training|no_zeroes|intcomma }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <h6>Units in training will be displayed here once this dominion is out of protection and the round has started.</h6>
    {% endif %}

    {% comment %} This dominion's world view {% endcomment %}
    {% include "maingame/components/dominion_list.html" with this_dominion=dominion all_dominions=other_dominions %}

    {% comment %} Spells {% endcomment %}
    <div class="max-w-xs">
        <details class="accordion">
            <summary class="accordion__summary header_colors u-round-xs"><span class="u-center">Spells</span></summary>
            <div>
                {% for spell in spells %}
                <div class="card card_colors p-1 u-flex u-flex-column u-gap-1">
                    <h6>{{ spell.name }}</h6>
                    <span>Mana cost: {{ spell.mana_cost }} ({{ spell.mana_cost_per_acre }}/acre)</span>
                    <span>{{ spell.description }}</span>
                </div>
                {% endfor %}
            </div>
        </details>
        <details class="accordion">
            <summary class="accordion__summary header_colors u-round-xs"><span class="u-center">Discoveries</span></summary>
            <div>
                {% for discovery in learned_discoveries %}
                <div class="card card_colors p-1 u-flex u-flex-column u-gap-1">
                    <h6>{{ discovery.name }}</h6>
                    <span>
                        {{ discovery.description }}
                        {% if discovery.repeatable %}
                            (Repeatable)
                        {% endif %}
                    </span>
                </div>
                {% endfor %}
            </div>
        </details>
    </div>

    <div>
        <p>Complacency: {{ dominion.complacency }} ticks (-{{ dominion.complacency_penalty_percent|floatformat:0 }}% defense)</p>
    </div>

    {% comment %} This dominion's wins/losses {% endcomment %}
    <div class="u-overflow-x-scroll md:u-overflow-x-hidden">
        <table class="table card_colors max-w-md">
            <thead>
                <tr>
                    <th class="u-align-middle">Timestamp</th>
                    <th class="u-align-middle">Attacker</th>
                    <th class="u-align-middle">Defender</th>
                    <th class="u-align-middle">Victor</th>
                    <th class="u-align-middle">OP</th>
                    <th class="u-align-middle">DP</th>
                    <th class="u-align-middle">Acres conquered</th>
                </tr>
            </thead>
            <tbody>
                {% for battle in battles_with_this_dominion %}
                <tr class="{% if battle.winner == dominion %}header_colors{% endif %}">
                    <td class="u-align-middle">
                        {% if active_user_settings.use_am_pm %}
                        {{ battle.timestamp|timezone:active_user_settings.timezone|date:"F j, g:i:s a" }}
                        {% else %}
                        {{ battle.timestamp|timezone:active_user_settings.timezone|date:"F j, G:i:s" }}
                        {% endif %}
                    </td>
                    <td class="u-align-middle">{{ battle.attacker }}</td>
                    <td class="u-align-middle">{{ battle.defender }}</td>
                    <td class="u-align-middle">{{ battle.winner }}</td>
                    <td class="u-align-middle">{{ battle.op }}</td>
                    <td class="u-align-middle">{{ battle.dp }}</td>
                    <td class="u-align-middle">{{ battle.acres_conquered }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% comment %} Abandon {% endcomment %}
    {% if dominion == active_dominion %}
    <div>
        <form action="{% url 'abandon' %}" method="post" class="u-flex u-flex-column u-gap-4">
            {% csrf_token %}
            <div class="form-ext-control pl-0 w-32 mt-8">
                <div class="u-flex u-flex-column">
                    <h6>Abandon</h6>
                    <span>You will lose ownership of your dominion and you can re-register with a new one.</span>
                </div>
                <label class="form-ext-toggle__label u-flex u-flex-row w-24 mt-2">
                    <span>Do it</span>
                    <div class="form-ext-toggle">
                        <input name="abandon" type="checkbox" class="form-ext-input" />
                        <div class="form-ext-toggle__toggler"><i></i></div>
                    </div>
                </label>
                <label class="form-ext-toggle__label u-flex u-flex-row w-32 mt-2">
                    <span class="w-24">Really do it</span>
                    <select name="confirm_abandon">
                        <option></option>
                        <option>REALLY DO IT</option>
                    </select>
                </label>
                <button class="header_colors mt-4 w-16 h-6 p-0 u-center" type="submit">
                    <span class="font-bold">Submit</span>
                </button>
            </div>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
