{% extends "base.html" %}
{% load humanize %}

{% block title %}Overview{% endblock %}

{% block content %}

<div class="u-flex u-flex-column u-gap-4">
    {% if active_player.show_tutorials %}
        <div>
            <p>
                This shows just about everything about this dominion at a glance. If you and this dominion are both out of protection, it also has
                the interface for invading them.
            </p>
        </div>
    {% endif %}
    <div>
        <h6>{{ player.name }}</h6>
        <h6>{{ player.acres }} acres</h6>
        <h6>{{ player.defense|intcomma }} defense</h6>
    </div>

    {% if player != active_player and player.protection_ticks_remaining == 0 and active_player.protection_ticks_remaining == 0 and round.has_started and not round.has_ended %}
    <details class="accordion card card_colors max-w-md">
        <summary class="accordion__summary">Plan invasion</summary>
        <form action="{% url 'submit_invasion' player.id %}" method="post" class="max-w-md">
            {% csrf_token %}
            <div class="w-100p u-center">
                <h6>Invade</h6>
            </div>
            <table class="table striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Pwr</th>
                        <th>Quantity at home</th>
                        <th class="w-16">Send</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in my_units %}
                    <tr>
                        {% include "maingame/unit_name_row.html" %}
                        <td class="u-align-middle" id="power_{{ unit.id }}">{{ unit.op|intcomma }} / {{ unit.dp|intcomma }}</td>
                        <td class="u-align-middle">{{ unit.quantity_at_home|intcomma }}</td>
                        <td class="u-align-middle u-flex-md u-flex-row-md">
                            <input 
                                name="send_{{ unit.id }}" 
                                id="send_{{ unit.id }}" 
                                type="number" 
                                min="0"
                                max="{{ unit.quantity_at_home }}" 
                                class="w-12 w-16-md ml-auto-md mr-2-md unitInput"
                                oninput="updateOffenseToSend()"
                            >
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="readoutSection" class="u-center u-flex u-gap-1 text-red-400">
                <span id="opToSend">0</span>
                <span>OP</span>
                <span>vs.</span>
                <span id="dpHere">{{ player.defense }}</span>
                <span> DP</span>
            </div>
            <div style="display: none;">
                <input type="submit" name="prevent-enter-submit" onclick="return false;">
            </div>
            <button class="btn-danger mt-1 w-24 h-6 p-0 u-center" type="submit">
                <span id="invadeButtonText" class="font-bold">Invade</span>
            </button>
        </form>
    </details>

    <script>
        const offenseMultiplier = JSON.parse('{{ offense_multiplier|escapejs }}');

        function updateOffenseToSend() {
            let opReadout = document.getElementById("opToSend");
            let dpHere = document.getElementById("dpHere").innerHTML;
            let readoutSection = document.getElementById("readoutSection");
            let invadeButtonText = document.getElementById("invadeButtonText");
            let unitInputs = document.getElementsByClassName("unitInput")

            let totalOp = 0
            let totalDp = 0

            for (const [key, value] of Object.entries(unitInputs)) {
                unitId = value.id.substr(5)
                let op = document.getElementById("power_" + unitId).innerHTML.split("/")[0]
                op = parseInt(op.replace(/,/g, ''))
                console.log("op", op)
                totalOp = totalOp + value.value * op
            }

            totalOp = Math.floor(totalOp * offenseMultiplier)
            opReadout.innerHTML = totalOp

            if (totalOp >= dpHere) {
                readoutSection.classList.remove("text-red-400")
                readoutSection.classList.add("text-green-400")
                invadeButtonText.classList.remove("text-red-400")
            } else {
                readoutSection.classList.remove("text-green-400")
                readoutSection.classList.add("text-red-400")
                invadeButtonText.classList.add("text-red-400")
            }
        }

        function updateDefenseHere(regionDefense) {
            const regionDefenstInt = parseInt(regionDefense)
            let dpReadout = document.getElementById("dp-left");
            const unitHereInputs = document.getElementsByClassName("unitHereInput")
            let totalLostDp = 0

            for (const [key, value] of Object.entries(unitHereInputs)) {
                unitId = value.id.substr(8)
                const dp = document.getElementById("power_" + unitId).innerHTML.split("/")[1]
                totalLostDp = totalLostDp + value.value * dp
            }

            dpReadout.innerHTML = regionDefenstInt - totalLostDp
        }
    </script>
    {% endif %}

    <div>
        <table class="table striped small max-w-md">
            <thead>
                <tr>
                    <th>Resource</th>
                    <th>Quantity</th>
                    <th>Net production</th>
                </tr>
            </thead>
            <tbody>
                {% for resource in resources %}
                    <tr>
                        <th class="u-align-middle">{{ resource.icon }}</th>
                        <td class="u-align-middle">{{ resource.quantity|intcomma }}</td>
                        <td class="u-align-middle">{{ resource.production|intcomma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div>
        <table class="table striped small max-w-md">
            <thead>
                <tr>
                    <th>Unit</th>
                    <th>Pwr</th>
                    <th>Quantity (Training)</th>
                    <th>Quantity at home</th>
                </tr>
            </thead>
            <tbody>
                {% for unit in units %}
                    <tr>
                        {% include "maingame/unit_name_row.html" %}
                        <td class="u-align-middle">{{ unit.op|intcomma }} / {{ unit.dp|intcomma }}</td>
                        <td>{{ unit.quantity_trained_and_alive|intcomma }} {% if unit.quantity_in_training > 0 %} ({{ unit.quantity_in_training|intcomma }}){% endif %}</td>
                        <td class="u-align-middle">{{ unit.quantity_at_home|intcomma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <table class="table striped small max-w-md">
            <thead>
                <tr>
                    <th>Building</th>
                    <th>Quantity</th>
                    <th>Percent</th>
                    <th>Upgrades</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for building in buildings %}
                    <tr>
                        <th class="u-align-middle">{{ building.name|title }}</th>
                        <td class="u-align-middle">{{ building.quantity|intcomma }}</td>
                        <td class="u-align-middle">{{ building.percent }}%</th>
                        <td class="u-align-middle">{{ building.upgrades }}</th>
                        <td class="u-align-middle">{{ building.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="u-flex u-flex-column max-w-md card card_colors p-1">
        <div>
            <h6 class="u-center">Units returning from battle</h6>
        </div>
        <div class="u-overflow-x-scroll u-overflow-x-hidden-md">
            <table class="table striped">
                <thead>
                    <tr>
                        <th>Unit</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in units %}
                    {% if unit.quantity_returning > 0 %}
                        <tr>
                            <th class="u-align-middle">{{ unit.name|title }}</th>
                            <td class="u-align-middle">{{ unit.returning_dict.1 }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.2 }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.3 }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.4 }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.5 }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.6 }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.7 }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.8 }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.9 }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.10 }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.11 }}</td>
                            <td class="u-align-middle">{{ unit.returning_dict.12 }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-4 u-flex u-flex-column max-w-md card card_colors p-1">
        <div>
            <h6 class="u-center ">Incoming acres</h6>
        </div>
        <div class="u-overflow-x-scroll u-overflow-x-hidden-md">
            <table class="table striped">
                <thead>
                    <tr>
                        <th>Acres</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                    </tr>
                </thead>
                <tbody>
                    {% if active_player.incoming_acres > 0 %}
                    <tr>
                        <td class="u-align-middle">Acres</td>
                        <td class="u-align-middle">{{ player.incoming_acres_dict.1 }}</td>
                        <td class="u-align-middle">{{ player.incoming_acres_dict.2 }}</td>
                        <td class="u-align-middle">{{ player.incoming_acres_dict.3 }}</td>
                        <td class="u-align-middle">{{ player.incoming_acres_dict.4 }}</td>
                        <td class="u-align-middle">{{ player.incoming_acres_dict.5 }}</td>
                        <td class="u-align-middle">{{ player.incoming_acres_dict.6 }}</td>
                        <td class="u-align-middle">{{ player.incoming_acres_dict.7 }}</td>
                        <td class="u-align-middle">{{ player.incoming_acres_dict.8 }}</td>
                        <td class="u-align-middle">{{ player.incoming_acres_dict.9 }}</td>
                        <td class="u-align-middle">{{ player.incoming_acres_dict.10 }}</td>
                        <td class="u-align-middle">{{ player.incoming_acres_dict.11 }}</td>
                        <td class="u-align-middle">{{ player.incoming_acres_dict.12 }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="u-flex u-flex-column max-w-md card card_colors p-1">
        <div>
            <h6 class="u-center">Units in training</h6>
        </div>
        <div class="u-overflow-x-scroll u-overflow-x-hidden-md">
            <table class="table striped">
                <thead>
                    <tr>
                        <th>Unit</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in units %}
                    {% if unit.quantity_in_training > 0 %}
                        <tr>
                            <th class="u-align-middle">{{ unit.name|title }}</th>
                            <td class="u-align-middle">{{ unit.training_dict.1 }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.2 }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.3 }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.4 }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.5 }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.6 }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.7 }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.8 }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.9 }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.10 }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.11 }}</td>
                            <td class="u-align-middle">{{ unit.training_dict.12 }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-4 u-flex u-flex-column max-w-md card card_colors p-1">
        <div>
            <h6 class="u-center">Spells</h6>
        </div>
        <div class="u-overflow-x-scroll u-overflow-x-hidden-md">
            <table class="table striped small">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Mana cost (per acre)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for spell in spells %}
                    <tr>
                        <td class="u-align-middle">{{ spell.name }}</td>
                        <td class="u-align-middle">{{ spell.description }}</td>
                        <td class="u-align-middle">{{ spell.mana_cost }} ({{ spell.mana_cost_per_acre}})</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-4 u-flex u-flex-column max-w-md card card_colors p-1">
        <div>
            <h6 class="u-center">Discoveries</h6>
        </div>
        <div class="u-overflow-x-scroll u-overflow-x-hidden-md">
            <table class="table striped small">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for discovery in learned_discoveries %}
                    <tr>
                        <td class="u-align-middle">{{ discovery.name }}</td>
                        <td class="u-align-middle">{{ discovery.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <p>Complacency: {{ player.complacency }} ticks (-{{ player.complacency_penalty_readout }}% defense)
</div>

{% endblock %}
