{% extends "base.html" %}
{% load humanize %}

{% block title %}Production{% endblock %}

{% block content %}
<div class="">
    <!-- {% for key, value in production_dict.items %}
    <h4>{{ key }}: {{ value }}</h4>
    {% endfor %} -->

    <table class="table striped max-w-sm">
        <thead>
            <tr>
                <th>Resource</th>
                <th>Produced</th>
                <th>Consumed</th>
                <th>Net</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in production_dict.items %}
            <tr>
                <th class="u-align-middle">{{ key }}</th>
                <td class="u-align-middle text-green-400">{{ value.produced }}</td>
                <td class="u-align-middle text-red-400">{{ value.consumed }}</td>
                <td class="u-align-middle {% if value.net < 0 %}text-red-400{% else %}text-green-400{% endif %}">{{ value.net }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
