{% load humanize %}

<a href="{% url 'region' region.id %}" class="u-border-2 w-48 px-2 pt-1 u-flex u-flex-column text-light border-{{bordercolor}}-400">
    <span>{{ region.icon_name }}</span>

    {% if show_enemy_details or ally %}
    <h6 class="{% if region.is_underdefended %}text-yellow-300 tooltip{% endif %}" data-tooltip="Output -80% for being underdefended">
        Defense: {{ region.defense_with_incoming|intcomma }}{% if region.is_underdefended %} ⚠️{% endif %}
    </h6>
    

    <div class="u-flex u-flex-row u-gap-1 mt-1">
        {% for building in region.buildings_here.all %}
        <div class="card bg-gray-700 px-1 u-border-1{% if building.built_on_ideal_terrain %} text-yellow-200 border-yellow-200{% endif %}" style="width: fit-content;">
            <span>{{ building.type.name|title }}</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if region.plots_available > 0 and ally %}
    <span class="font-bold text-red-400">Unconstructed plots: {{ region.plots_available }} ⚠️</span>
    {% endif %}
</a>