{% extends "base.html" %}
{% load extra_tags %}
{% load humanize %}

{% block title %}{{ region.icon_name }}{% endblock %}

{% block content %}
{% if is_my_region or round.has_started %}
<script>
    function sendMax(unit_id, quantity_marshaled) {
        let thisInput = document.getElementById("send_" + unit_id);
        thisInput.value = quantity_marshaled;
        updateOffenseToSend()
    }

    function marshalMax(unit_id, quantity_here) {
        let thisInput = document.getElementById("marshal_" + unit_id);
        thisInput.value = quantity_here;
    }

    function updateOffenseToSend() {
        let opReadout = document.getElementById("op-to-send");
        let unitInputs = document.getElementsByClassName("unitInput")
        let totalOp = 0
        let totalDp = 0

        for (const [key, value] of Object.entries(unitInputs)) {
            unitId = value.id.substr(5)
            const op = document.getElementById("power_" + unitId).innerHTML.split("/")[0]
            totalOp = totalOp + value.value * op
        }

        opReadout.innerHTML = totalOp
    }

    function updateDefenseHere(regionDefense) {
        const regionDefenstInt = parseInt(regionDefense)
        let dpReadout = document.getElementById("dp-left");
        const unitHereInputs = document.getElementsByClassName("unitHereInput")
        let totalLostDp = 0

        for (const [key, value] of Object.entries(unitHereInputs)) {
            unitId = value.id.substr(8)
            const dp = document.getElementById("unit-here-power_" + unitId).innerHTML.split("/")[1]
            totalLostDp = totalLostDp + value.value * dp
        }

        dpReadout.innerHTML = regionDefenstInt - totalLostDp
    }
</script>

<div class="u-flex u-flex-column u-gap-4">
    <div>
        <h4>{{ region.icon_name }}</h6>
        <h6>Defense: {{ region.defense_with_incoming|intcomma }}</h6>
        {% if region.is_underdefended %}
            <h6 class="text-red-300">⚠️ This region is producing only 20% of normal because it's underdefended ⚠️</h6>
        {% endif %}
        <p>{{ region.description }}</p>
        {% if available_plots > 0 and is_my_region %}
            <h6 class="text-red-300">⚠️ This region has available plots to build ⚠️</h6>
        {% endif %}
    </div>

    <div class="max-w-sm">
        {% if region.ruler %}
        <form action="{% url 'marshal_from_region' region.id %}" method="post" class="">
            {% csrf_token %}
            <div class="w-100p u-center">
                <h6>Units here</h6>
            </div>
            
            <table class="table striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Pwr</th>
                        <th>Amount</th>
                        {% if is_my_region %}<th>Marshal</th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for unit_here in units_here %}
                    <tr class="{% if unit_here.unit.ruler != active_player %}text-red-400{% endif %}">
                        <th class="u-align-middle">{{ unit_here.unit.name|title }}</th>
                        <td class="u-align-middle" id="unit-here-power_{{ unit_here.unit.id }}">{{ unit_here.unit.op }}/{{ unit_here.unit.dp }}</td>
                        <td class="u-align-middle">{{ unit_here.quantity|intcomma }}</td>
                        {% if is_my_region %}
                        <td class="u-align-middle u-flex-md u-flex-row-md">
                            <input 
                                name="marshal_{{ unit_here.unit.id }}" 
                                id="marshal_{{ unit_here.unit.id }}" 
                                placeholder="{{ unit_here.quantity }}" 
                                type="number" 
                                max="{{ unit_here.quantity }}" 
                                class="w-12 w-16-md ml-auto-md mr-2-md unitHereInput"
                                oninput="updateDefenseHere('{{ region.defense }}')"
                            >
                            <button 
                                type="button" 
                                class="btn-light my-auto u-none u-block-md mr-auto-md" 
                                onclick="marshalMax('{{ unit_here.unit.id }}', '{{ unit_here.quantity }}'); updateDefenseHere('{{ region.defense }}')"
                            >
                                Max
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% if region.defense > 0 and is_my_region %}
            <div class="u-flex u-flex-row u-center u-gap-4">
                <div>
                    <span id="dp-left">{{ region.defense }}</span>
                    <span>defense remaining</span>
                </div>
                <button class="btn-light mt-1 w-16 h-6 p-0" type="submit">
                    <span class="font-bold">Marshal</span>
                </button>
            </div>

            {% endif %}
        </form>
        {% endif %}
    </div>

    {% if region.ruler.protection_ticks_remaining == 0 or is_my_region or active_player.protection_ticks_remaining == 0 and region.ruler == None %}
    {% if active_player.has_marshaled_units %}
    <div class="card max-w-sm {% if is_my_region %}bg-gray-900{% else %}bg-red-900{% endif %} pt-2">
        <form action="{% url 'dispatch_to_one_region' region.id %}" method="post" class="">
            {% csrf_token %}
            <div class="w-100p u-center">
                {% if is_my_region or region.ruler == None %}
                <h6>Send marshaled units to this region</h6>
                {% else %}
                <h6>Invade this region with marshaled units</h6>
                {% endif %}
            </div>
            <table class="table striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Pwr</th>
                        <th>Amount</th>
                        <th>Send</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in marshaled_units %}
                    <tr>
                        <th class="u-align-middle">{{ unit.name|title }}</th>
                        <td class="u-align-middle" id="power_{{ unit.id }}">{{ unit.op }}/{{ unit.dp }}</td>
                        <td class="u-align-middle">{{ unit.quantity_marshaled|intcomma }}</td>
                        <td class="u-align-middle u-flex-md u-flex-row-md">
                            <input 
                                name="send_{{ unit.id }}" 
                                id="send_{{ unit.id }}" 
                                placeholder="{{ unit.quantity_marshaled }}" 
                                type="number" 
                                max="{{ unit.quantity_marshaled }}" 
                                class="w-12 w-16-md ml-auto-md mr-2-md unitInput"
                                {% if not is_my_region %}
                                oninput="updateOffenseToSend()"
                                {% endif %}
                            >
                            <button type="button" class="btn-light my-auto u-none u-block-md mr-auto-md" onclick="sendMax('{{ unit.id }}', '{{ unit.quantity_marshaled }}')">
                                Max
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="u-flex u-flex-row u-center u-gap-4">
                {% if not is_my_region %}
                <div>
                    <span id="op-to-send">0</span>
                    <span>offense vs. {{ region.defense }} defense</span>
                </div>
                {% endif %}
                <button class="btn-light mt-1 w-16 h-6 p-0" type="submit">
                    <span class="font-bold">Send</span>
                </button>
            </div>
        </form>
    </div>
    {% endif %}

    <div>
        <div class="w-48 w-auto-md max-w-sm">
            <h6 class="u-center">Units {% if is_my_region %}incoming{% else %}invading{% endif %}</h6>
        </div>
        {% include "maingame/journey_progress_track.html" with output_dict=output_dict %}
    </div>
    {% endif %}

    {% if region.ruler %}
    <div>
        <div class="w-48 w-auto-md max-w-sm mb-2">
            <h6 class="u-center">Buildings here</h6>
        </div>
        <div class="u-flex u-flex-wrap u-gap-2">
            {% for building in buildings_here %}
                {% include "maingame/building_card.html" with building_type=building.type region=region is_ideal_terrain=building.built_on_ideal_terrain %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
    {% if is_my_region %}
    <div>
        <div class="w-48 w-auto-md max-w-sm mb-2">
            <h6 class="u-center">Construct buildings (available plots: {{ available_plots }})</h6>
        </div>
        <div class="u-flex u-flex-wrap u-gap-2">
            {% for building_type in building_types %}
                {% if building_type.ideal_terrain == region.primary_terrain and primary_terrain_available %}
                {% include "maingame/building_card.html" with building_type=building_type available_plots=available_plots region=region is_ideal_terrain=True %}
                {% elif building_type.ideal_terrain == region.secondary_terrain and secondary_terrain_available %}
                {% include "maingame/building_card.html" with building_type=building_type available_plots=available_plots region=region is_ideal_terrain=True %}
                {% else %}
                {% include "maingame/building_card.html" with building_type=building_type available_plots=available_plots region=region %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% else %}
<p>You'll be able to view other regions once the round has started.</p>
{% endif %}
{% endblock %}