{% extends "base.html" %}
{% load extra_tags %}
{% load humanize %}

{% block title %}{{ region.emoji_name }}{% endblock %}

{% block content %}
<div class="u-flex u-flex-column u-gap-4">
    <a href="{% url 'regions' %}" class="mb-2">Back to region list</a>
    <div>
        <h4>{{ region.emoji_name }}</h6>
        <h6>Defense: {{ region.defense|intcomma }}</h6>
        <p>{{ region.description }}</p>
        {% if available_plots > 0 %}
            <h6 class="text-red-300">⚠️ This region has available plots to build ⚠️</h6>
        {% endif %}
    </div>

    <div class="max-w-sm">
        <div class="w-100p u-center">
            <h6>Units here</h6>
        </div>
        <table class="table striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Pwr</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for unit_here in units_here %}
                <tr>
                    <th class="u-align-middle">{{ unit_here.unit.name|title }}</th>
                    <td class="u-align-middle">{{ unit_here.unit.op }}/{{ unit_here.unit.dp }}</td>
                    <td class="u-align-middle">{{ unit_here.quantity|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if active_player.has_marshaled_units %}
    <form action="{% url 'dispatch_to_one_region' region.id %}" method="post" class="max-w-sm">
        {% csrf_token %}
        <div class="w-100p u-center">
            <h6>Send marshaled units</h6>
        </div>
        <table class="table striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Pwr</th>
                    <th>Amount</th>
                    <th>Send</th>
                </tr>
            </thead>
            <tbody>
                {% for unit in marshaled_units %}
                <tr>
                    <th class="u-align-middle">{{ unit.name|title }}</th>
                    <td class="u-align-middle">{{ unit.op }}/{{ unit.dp }}</td>
                    <td class="u-align-middle">{{ unit.quantity_marshaled|intcomma }}</td>
                    <td class="u-align-middle u-flex-md u-flex-row-md">
                        <input 
                            name="send_{{ unit.id }}" 
                            id="send_{{ unit.id }}" 
                            placeholder="{{ unit.quantity_marshaled }}" 
                            type="number" 
                            max="{{ unit.quantity_marshaled }}" 
                            class="w-12 w-16-md ml-auto-md mr-2-md"
                        >
                        <button type="button" class="btn-light my-auto u-none u-block-md mr-auto-md" onclick="sendMax('{{ unit.id }}', '{{ unit.quantity_marshaled }}')">
                            Max
                        </button>
                        
                        <script>
                        function sendMax(unit_id, quantity_marshaled) {
                            let thisInput = document.getElementById("send_" + unit_id);
                            thisInput.value = quantity_marshaled;
                        }
                        </script>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn-light mt-1 w-16 h-6 p-0 u-center" type="submit">
            <span class="font-bold">Send</span>
        </button>
    </form>
    {% endif %}

    <div class="u-flex u-flex-wrap u-gap-2">
        {% for building in buildings_here %}
            {% include "maingame/building_card.html" with building_type=building.type show_destroy=True region=region is_ideal_terrain=building.built_on_ideal_terrain %}
        {% endfor %}
    </div>
    <span>Available plots: {{ available_plots }}</span>
    <div class="u-flex u-flex-wrap u-gap-2">
        {% for building_type in building_types %}
            {% if building_type.ideal_terrain == region.primary_terrain and primary_terrain_available %}
            {% include "maingame/building_card.html" with building_type=building_type available_plots=available_plots region=region is_ideal_terrain=True %}
            {% elif building_type.ideal_terrain == region.secondary_terrain and secondary_terrain_available %}
            {% include "maingame/building_card.html" with building_type=building_type available_plots=available_plots region=region is_ideal_terrain=True %}
            {% else %}
            {% include "maingame/building_card.html" with building_type=building_type available_plots=available_plots region=region %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}