{% extends "base.html" %}
{% load humanize %}

{% block title %}Resources{% endblock %}

{% block tutorial %}
{% include "maingame/tutorial_text.html" with page="resources" %}
{% endblock %}

{% block content %}
<div class="max-w-md">
    {% if active_dominion.is_starving %}
    <div class="u-center">
        <h4 class="font-bold text-red-400">⚠️YOU ARE STARVING⚠️</h4>
    </div>
    {% endif %}
    
    <details class="accordion card card_colors max-w-md">
        <summary class="accordion__summary">Details</summary>
        <p>
            This shows your resource generation and consumption. Generally speaking, buildings generate resources and units consume them. Note that if you run out of
            a resource that's being consumed, you'll lose units until you can afford all of your upkeeps.
        </p>
        <p>
            Additionally, you can trade resources. All things equal, you can trade resources at 90% of the ratio they're produced. When a trade is made, it 
            shifts the value of resources accordingly. 
        </p>
        {% if active_dominion.faction_name == "blessed order" %}
        <p>
            Faith is unusual in that it's generated not by acres or buildings, but by your units. Its primary use is that, when you get invaded, your casualties
            will become Blessed Martyrs for 1,000 faith apiece.
        </p>
        <p>
            Sinners aren't quite a normal resource. Each one drains one faith every tick. You'll need to start an inquisition from the Church Affairs page to
            get rid of them... unless you can discover another way?
        </p>
        {% endif %}
    </details>
    <div class="">
        <table class="table striped max-w-md">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Produced</th>
                    <th>Spent</th>
                    <th>Net</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in resources_dict.items %}
                <tr>
                    <td class="u-align-middle">{{ value.name|title }}</th>
                    <td class="u-align-middle text-green-400">{{ value.produced|intcomma }}</td>
                    <td class="u-align-middle text-red-400">{{ value.consumed|intcomma }}</td>
                    <td class="u-align-middle {% if value.net < 0 %}text-red-400{% else %}text-green-400{% endif %}">{{ value.net|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="u-none">
        <form action="{% url 'trade' %}" method="post">
            {% csrf_token %}
            <div class="u-flex u-flex-column u-gap-2">
                <select class="card_colors" id="inputResource" name="inputResource" oninput="showRatio()">
                    {% for key in my_tradeable_price_data %}
                    <option {% if key == active_dominion.last_sold_resource_name %} selected{% endif %}>{{ key }}</option>
                    {% endfor %}
                </select>
                <input type="range" min="0" max="100" value="0" id="resourceRange" name="resourceAmount" oninput="showCurrentValue()">
                <div class="u-center u-flex-row u-gap-1">
                    <span id="ratioNumerator">1</span>
                    <span>:</span>
                    <span id="ratioDenominator">1</span>
                </div>
                <select class="card_colors" id="outputResource" name="outputResource" oninput="showRatio()">
                    {% for key in my_tradeable_price_data %}
                    <option {% if key == active_dominion.last_bought_resource_name %} selected{% endif %}>{{ key }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="u-center u-gap-1 pt-1">
                <span>Trade</span>
                <span id="resourceRangeValue">1</span>
                <span id="soldResource">gold</span>
                <span>for</span>
                <span id="boughtResourceAmount">1</span>
                <span id="boughtResource">gold</span>
            </div>
            <div class="u-center mt-2">
                <button class="header_colors w-16 h-6 p-0 u-center" type="submit">
                    <span class="font-bold">Trade</span>
                </button>
            </div>
        </form>

        <table class="table striped max-w-md">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for resource_name, details in trade_price_data.items %}
                <tr>
                    <td class="u-align-middle">{{ resource_name|title }}</td>
                    <td class="u-align-middle">{{ details.price }}</td>
                    <td class="u-align-middle
                    {% if details.difference >= 200 %}text-green-700 font-bold
                    {% elif details.difference >= 175 %}text-green-600
                    {% elif details.difference >= 150 %}text-green-500
                    {% elif details.difference >= 125 %}text-green-400
                    {% elif details.difference <= 20 %}text-red-700 font-bold
                    {% elif details.difference <= 40 %}text-red-600
                    {% elif details.difference <= 60 %}text-red-500
                    {% elif details.difference <= 80 %}text-red-400
                    {% endif %}
                    ">{{ details.difference }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        const dominionResourcesDict = JSON.parse('{{ dominion_resources_json|escapejs }}');
        const resourceInfoDict = JSON.parse('{{ resources_dict_json|escapejs }}');
        const tradePrices = JSON.parse('{{ trade_price_json|escapejs }}');
        const lastSoldResourcename = '{{ last_sold_resource_name|escapejs }}'
        const lastBoughtResourcename = '{{ last_bought_resource_name|escapejs }}'

        document.getElementById("inputResource").value = lastSoldResourcename
        document.getElementById("outputResource").value = lastBoughtResourcename
        document.getElementById("resourceRange").max = dominionResourcesDict["gold"];
        showCurrentValue();
        showRatio();

        function showCurrentValue() {
            document.getElementById("resourceRangeValue").innerHTML = document.getElementById("resourceRange").value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            const inputResource = document.getElementById("inputResource").value;
            const outputResource = document.getElementById("outputResource").value;
            const amount = document.getElementById("resourceRange").value
            inputResourceName = resourceInfoDict[inputResource].name
            outputResourceName = resourceInfoDict[outputResource].name
            const credit = tradePrices[inputResourceName] * amount
            const outputAmount = Math.floor((credit / tradePrices[outputResourceName]) * 0.9)
            document.getElementById("boughtResourceAmount").innerHTML = outputAmount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function showRatio() {
            document.getElementById("resourceRangeValue").innerHTML = "1";
            const inputResource = document.getElementById("inputResource").value;
            const outputResource = document.getElementById("outputResource").value;
            document.getElementById("resourceRange").value = 0
            document.getElementById("resourceRange").max = dominionResourcesDict[inputResource];
            document.getElementById("soldResource").innerHTML = inputResource
            document.getElementById("boughtResource").innerHTML = outputResource
            const inputPrice = tradePrices[inputResource]
            const outputPrice = tradePrices[outputResource] / 0.9

            decToFrac = dec =>
                [...Array(100).keys()].flatMap(
                    i => [...Array(100).keys()].map(
                    j => [
                        i + 1, j + 1, (i + 1) / (j + 1),
                        Math.abs(((i + 1) / (j + 1)) - dec)
                    ]
                    )
                ).sort((a, b) => a[3] - b[3])[0].slice(0, 2)
            let decfrac = decToFrac(inputPrice/outputPrice)

            document.getElementById("ratioNumerator").innerHTML = +(decfrac[1] / decfrac[1]).toFixed(2)
            document.getElementById("ratioDenominator").innerHTML = +(decfrac[0] / decfrac[1]).toFixed(2)
            showCurrentValue()
        }
    </script>
</div>

{% endblock %}
