{% extends "base.html" %}
{% load humanize %}

{% block title %}Spells{% endblock %}

{% block tutorial %}
{% include "maingame/tutorial_text.html" with page="spells" %}
{% endblock %}

{% block content %}
<details class="accordion card card_colors max-w-md">
    <summary class="accordion__summary">Details</summary>
    <p>
        Spells have unique effects and a mana cost that scales with your acreage.
    </p>
</details>
<div class="u-flex u-flex-wrap">
    {% for spell in spells %}
    <div class="card card_colors px-1 pt-1 u-flex u-flex-column u-gap-1 w-64">
        <h6>{{ spell.name }}</h6>
        <span>{{ spell.mana_cost_per_acre }} mana/acre</span>
        <span>{{ spell.description }}</span>
        <form>
            <button class="u-center header_colors py-0" formaction="{% url 'submit_spell' spell.id %}" {% if mana_quantity < spell.mana_cost %}disabled{% endif %}>
                Cast: {{ spell.mana_cost|intcomma }} mana
            </button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
