{% extends "base.html" %}
{% load humanize %}

{% block title %}Spells{% endblock %}

{% block content %}
{% if active_player.show_tutorials %}
    <p>
        Spells have unique effects and a mana cost that scales with your acreage.
    </p>
{% endif %}
<div class="u-flex u-flex-wrap">
    {% for spell in spells %}
    <div class="card bg-gray-900 p-1 u-flex u-flex-column u-gap-1 w-64">
        <h6>{{ spell.name }}</h6>
        <span>{{ spell.mana_cost_per_acre }} 🔮/acre</span>
        <span>{{ spell.description }}</span>
        <a href="{% url 'submit_spell' spell.id %}">
            <button class="btn-dark px-1 py-0" {% if mana_quantity < spell.mana_cost %}disabled{% endif %}>Cast: {{ spell.mana_cost }}🔮</button>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
