{% extends "base.html" %}

{% block title %}Tutorial{% endblock %}

{% block content %}
<div>
    <p>
        The goal of the game is to have the most acres. You get acres by training units to attack other players. When you send more offensive power (OP) than
        the target player has total defensive power (DP), you take some acres from them (about 6% but it's higher if they're bigger than you or lower if they're
        smaller), plus that many again which get discovered by your army in the process. For example, if you and the target each have 100 acres, they'd lose 6
        and you'd gain 12.
    </p>

    <p>
        To train units and pay their upkeep, you'll need resources. The game is played over "ticks", which happen every 15 minutes. Each tick, you gain 50 gold per
        acre, but for any other resource, you'll need to construct buildings to produce them. Furthermore, buildings can be upgraded using research points (research) to
        produce more resources.
    </p>

    <p>
        In support these efforts, you can cast spells using mana (mana). You'll have a few by default, but every 50 ticks you can make a Discovery. Each Discovery
        has very different effects, but many will unlock a new spell, unit, or building for you.
    </p>
    <p>
        When you first join, you'll be in a state of magical protection. You won't be able to invade, nor will you be able to be invaded. During this time, you
        won't be affected by the normal 15-minute ticks, but you'll have access to 72 ticks of your own, independent of the actual time in real life, which you
        will manually process. Use these ticks wisely to get your buildings producing and your army trained, because once you process the last of those 72 ticks,
        it's open season.
    </p>
    <p>
        Keep tabs on the other players by checking in on the World and News pages.
    </p>
</div>
{% endblock %}
