{% if page == "overview" %}
    {% if active_user_settings.tutorial_step == 11 %}
    <p>
        This shows just about everything about this dominion at a glance. If you and this dominion are both out of protection, it also has
        the interface for invading them. In order to invade someone, you need to send an amount of offense that matches or exceeds their defense.
    </p>
    <p>
        Some units have special perks. These are marked by differently-colored text and the description can be seen by mousing over the name (desktop)
        or tapping on the name (mobile).
    </p>
    <p>When you're ready, process your final tick of protection and go to the World page.</p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 12 %}
    <p>
        Go ahead and input some number of units into the invasion form. Note how the text below the form updates to show how much total offense you have
        queued up to send compared to your target's defense and how this invasion would affect your own defense.
    </p>
    <p>
        Recall back to the trend in defenses of each other dominion (or just open the world page in another tab) and see how your new defense would compare
        to the others. If it would make you an obvious target, perhaps exercise caution and leave your offensive troops at home to benefit from their extra
        defense. Seriously consider invading, though - even if danger is a possibility. As long as there's an even more tempting target, you might be safe.
        Plus, it's fun!
    </p>
    <p>
        This is all I have to teach you. Please conside <a href="https://discord.gg/gMvY8up8Nt" class="text-blue-500">joining the Discord server</a> if you 
        have any questions, feedback, bug reports, or just want to enjoy some good-natured camaraderie.
    </p>
    {% endif %}
{% endif %}


{% if page == "resources" %}
    {% if active_user_settings.tutorial_step == 2 %}
    <p>
        Here you can see how much of each resource you produce per "tick". 15 Minute War "ticks" every 15 minutes, which is when resource production happens.
        You'll notice that, in addition to what your buildings are producing, you're also gaining gold. You always produce 50 gold per acre regardless of
        your buildings.
    <p>
    <p>
        When you register, you start in a state of magical protection. No one can attack you and you have 72 free ticks that you can process on command.
        During this time, you don't actually benefit from the automatic ticks every 15 minutes. Once you process all 72 of your ticks in protection, you
        come out of protection and the action starts.
    </p>
    <p>
        Let's take advantage of this time under protection and produce some resources. Click "+1 TICK" to process one tick and watch those resources come in.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 3 %}
    <p>
        Now we've got some resources... but not much. It's rarely important to go through each tick in protection individually, so go ahead and process +12 ticks.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 4 %}
    <p>
        Fantastic. We've got quite a bit of research accumulated, so let's go spend some to upgrade our buildings. Head to the Upgrades page.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 6 %}
    <p>Now that we've accumulated 60 ticks' worth of resources, it's time to train your army. Go to the Military page.</p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 10 %}
    <p>
        Now you're ready for war. Process ticks until there's only one left. It would be wise to spend your accumulated research and it would be optimal to revisit
        the Military page each tick to put some more units in training. I won't hold your hand for this, so do it however you see fit. I'll see you when you have
        one tick left.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 11 %}
    <p>
        The rest of the menu has been unlocked. Take a few minutes to click around before processing your last tick and leaving protection. You'll want to check out
        the Overview, Spells, The World, News, Faction Info, and Options pages.
    </p>
    <p>When you're ready, process your final tick of protection and go to the World page.</p>
    {% endif %}
{% endif %}


{% if page == "buildings" %}
    {% if active_user_settings.tutorial_step == 1 %}
    <p>
        You're going to need some resources to do anything. Your resources appear at the top of the page. You start with {{ active_dominion.acres }} 
        acres and each acre can support one building. Buildings are assigned by percentage, so if you have 10% farms (which produce 100 food), that means 
        10% of your 500 acres will be producing 100 food each.
    </p>
    <p>Each building produces a different resource, but not all resources are equally important for dwarves.</p>
    <p>Construct 10% farms to get food to feed your future units.</p>
    <p>Construct 45% quarries to get the ore you'll need to train your units.</p>
    <p>Construct 6% lumberyards for... secret reasons.</p>
    <p>Construct 39% schools to get research to upgrade your buildings later.</p>
    <p>We're not going to need any towers for our strategy.</p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 2 %}
    <p>Great! Now go to the Resources page.</p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 6 %}
    <p>Now that we've accumulated 60 ticks' worth of resources, it's time to train your army. Go to the Military page.</p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 10 %}
    <p>
        Now you're ready for war. Process ticks until there's only one left. It would be wise to spend your accumulated research and it would be optimal to revisit
        the Military page each tick to put some more units in training. I won't hold your hand for this, so do it however you see fit. I'll see you when you have
        one tick left.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 11 %}
    <p>
        The rest of the menu has been unlocked. Take a few minutes to click around before processing your last tick and leaving protection. You'll want to check out
        the Overview, Spells, The World, News, Faction Info, and Options pages.
    </p>
    <p>When you're ready, process your final tick of protection and go to the World page.</p>
    {% endif %}
{% endif %}


{% if page == "military" %}
    {% if active_user_settings.tutorial_step == 6 %}
    <p>
        Your military will make up the vast majority of your resource usage in 15 Minute War. Units have a power represented like X/Y where X is their power when
        invading someone else and Y is their power when defending. You're going to want a healthy mix of both.
    </p>
    <p>
        Start by training 500 Stoneshields. They're not very good on offense but each will provide 6 defense for a total of 6 * 500 = 3,000 defense. 
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 7 %}
    <p>
        You'll notice that the quantity shows "0 (500)". That's because those 500 units are still in training. When you train units, they take 12 ticks to 
        show up - that's why we stopped here when we had 12 ticks left in protection!
        You can keep track of your training progress below in the "Units in training" section.
    </p>
    <p>
        You won't get very far in 15 Minute War without conquering land from your enemies, so you'll need an offense as well. You can afford 720 Hammerers, so spend
        the rest of your gold training that full amount! They provide 5 offense each and, while they're not out invading, they'll still provide 4 defense as well.
        When units invade, they take 12 ticks to return home, during which time they won't be providing their defense.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 8 %}
    <p>
        Remember when you allocated 6% of your land to lumberyards for "secret reasons"? It was to help with your army.
    </p>
    <p>
        What do you mean "none of my units cost wood"? Oh, you just haven't discovered them yet. Head on over to the Discoveries page.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 9 %}
    <p>
        Looks like you can afford 80 palisades. That's good for 400 more defense and it doesn't cost any precious gold.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 10 %}
    <p>
        Now you're ready for war. Process ticks until there's only one left. It would be wise to spend your accumulated research and it would be optimal to revisit
        the Military page each tick to put some more units in training. I won't hold your hand for this, so do it however you see fit. I'll see you when you have
        one tick left.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 11 %}
    <p>
        The rest of the menu has been unlocked. Take a few minutes to click around before processing your last tick and leaving protection. You'll want to check out
        the Overview, Spells, The World, News, Faction Info, and Options pages.
    </p>
    <p>When you're ready, process your final tick of protection and go to the World page.</p>
    {% endif %}
{% endif %}


{% if page == "spells" %}
    {% if active_user_settings.tutorial_step < 999 %}
    <p>
        Here you can cast spells. They have unique effects and a mana cost that scales with your acreage.
    </p>
    <p>When you're ready, process your final tick of protection and go to the World page.</p>
    {% endif %}
{% endif %}


{% if page == "upgrades" %}
    {% if active_user_settings.tutorial_step == 4 %}
    <p>
        The primary use of research is to upgrade buildings. Each upgrade increases the production amount of that building by one. The building you have the
        most of is quarries, so get some upgrades there first. Each upgrade for the same building costs more than the last, you should be able to afford to do it five times.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 5 %}
    <p>
        Great. You'll notice that your quarry now produces 75 ore per tick, up from the 70 was producing when you started.
    </p>
    <p>
        You're going to fast forward a bit now. Go ahead and process ticks until there's only 12 left. There's a handy button after the +12 TICKS that will
        process however many it takes until you have 12 left. You'll see why that's an important cutoff shortly.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 6 %}
    <p>Now that we've accumulated 60 ticks' worth of resources, it's time to train your army. Go to the Military page.</p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 10 %}
    <p>
        Now you're ready for war. Process ticks until there's only one left. It would be wise to spend your accumulated research and it would be optimal to revisit
        the Military page each tick to put some more units in training. I won't hold your hand for this, so do it however you see fit. I'll see you when you have
        one tick left.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 11 %}
    <p>
        The rest of the menu has been unlocked. Take a few minutes to click around before processing your last tick and leaving protection. You'll want to check out
        the Overview, Spells, The World, News, Faction Info, and Options pages.
    </p>
    <p>When you're ready, process your final tick of protection and go to the World page.</p>
    {% endif %}
{% endif %}


{% if page == "discoveries" %}
    {% if active_user_settings.tutorial_step == 8 %}
    <p>
        Every 50 ticks, you can unlock a dicovery. There are lots of them - some give passive bonuses, others unlock new units or buildings, and others do even more.
        Your menu displays an icon next to the Discoveries page whenever you have a discovery available to unlock.
    </p>
    <p>
        You're here because you have surplus wood. Unlock the Palisades discovery using the dropdown.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 9 %}
    <p>
        Now that you have access to palisades, head back to the Military page.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 10 %}
    <p>
        Now you're ready for war. Process ticks until there's only one left. It would be wise to spend your accumulated research and it would be optimal to revisit
        the Military page each tick to put some more units in training. I won't hold your hand for this, so do it however you see fit. I'll see you when you have
        one tick left.
    </p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 11 %}
    <p>
        The rest of the menu has been unlocked. Take a few minutes to click around before processing your last tick and leaving protection. You'll want to check out
        the Overview, Spells, The World, News, Faction Info, and Options pages.
    </p>
    <p>When you're ready, process your final tick of protection and go to the World page.</p>
    {% endif %}
{% endif %}


{% if page == "world" %}
    {% if active_user_settings.tutorial_step == 11 %}
    <p>
        These are all the dominions at the moment. You can click on anyone's name to see an overview of their dominion.
    </p>
    <p>
        Each dominion has a penalty to their defense (DP) It worses by 0.33% per tick and resets to zero when they get invaded.
        Similarly, they have a bonus to their offense (OP). It improves by 0.33% per tick and resets to zero when they invade someone.
    </p>
    <p>
        Highest OP tracks the greatest total offense that dominion has sent on an invasion. It doesn't represent their maximum potential, but it's
        a useful tool for determining if you have enough defense.
    </p>
    <p>When you're ready, process your final tick of protection.</p>
    {% endif %}

    {% if active_user_settings.tutorial_step == 12 %}
        {% if round.has_started %}
            <p>
                Take a critical eye to the defense of each player. Note how players with units returning (those who have recently sent an invasion) typically
                have a lower defense.
            </p>
            <p>
                Scroll down below the table of dominions to the invasion form. We won't necessarily submit anything, but select a player and
                input some number of units into the form. Note how the text below the form updates to show how much total offense you have
                queued up to send compared to your target's defense and how this invasion would affect your own defense.
            </p>
            <p>
                If you input enough units that your offense exceeds your target's defense, how would your new defense compare to the rest of the players?
                If it would make you an obvious target, perhaps exercise caution and leave your offensive troops at home to benefit from their extra
                defense. Seriously consider invading, though - even if danger is a possibility. As long as there's an even more tempting target, you might be safe.
                Plus, it's fun!
            </p>
            <p>
                This is all I have to teach you. Please consider <a href="https://discord.gg/gMvY8up8Nt" class="text-blue-500">joining the Discord server</a> if you 
                have any questions, feedback, bug reports, or just want to enjoy some good-natured camaraderie.
            </p>
        {% else %}
            <p>
                The round hasn't started yet, but take a moment to look over who all has signed up. You won't be able to see too much detail about them on their
                overview page until the round starts. Take a look at the menu to see the countdown until the round begins and come back then.
            </p>
        {% endif %}
    {% endif %}
{% endif %}


{% if page == "news" %}
    {% if active_user_settings.tutorial_step == 11 %}
    <p>
        Shows significant events in the round, primarily invasions and dominions signing up. Events involving you will have a different color.
    </p>
    <p>When you're ready, process your final tick of protection and go to the World page.</p>
    {% endif %}
{% endif %}


{% if page == "options" %}
    {% if active_user_settings.tutorial_step < 999 %}
    <p>
        Here you can change your color scheme, your ruler name (not your dominion name), disable this very tutorial, and customize how timestamps appear for you.
        At the very least, you should probably set your timezone.
    </p>
    <p>When you're ready, process your final tick of protection and go to the World page.</p>
    {% endif %}
{% endif %}


{% if page == "faction_info" %}
    {% if active_user_settings.tutorial_step < 999 %}
    <p>
        This is a summary of each playable faction and their starting units. Each has at least one unique mechanic and several unique discoveries that further
        distinguish the playstyle of one from another.
    </p>
    <p>When you're ready, process your final tick of protection and go to the World page.</p>
    {% endif %}
{% endif %}