{% extends "base.html" %}
{% load humanize %}

{% block title %}Upgrades{% endblock %}

{% block tutorial %}
{% include "maingame/tutorial_text.html" with page="upgrades" %}
{% endblock %}

{% block content %}
<div class="">
    <details class="accordion card card_colors max-w-md">
        <summary class="accordion__summary">Details</summary>
        <p>
            Buildings can be upgraded to increase their production permanently. Each level of upgrade adds 1 to the amount produced, meaning that buildings which
            produce a lower starting amount of their resource benefit more from upgrades. Each level of upgrade costs more than the one before.
        </p>
        <p>
            Upgrade costs:<br>
            1: 50,000 (total 50,000)<br>
            2: 55,713 (total 105,713)<br>
            3: 62,146 (total 167,859)<br>
            4: 69,398 (total 237,257)<br>
            5: 77,581 (total 314,838)<br>
            6: 86,826 (total 401,664)<br>
            7: 97,282 (total 498,946)<br>
            8: 109,122 (total 608,068)<br>
            9: 122,543 (total 730,611)<br>
            10: 137,775 (total 868,386)<br>
            11: 155,082 (total 1,023,468)<br>
            12: 174,770 (total 1,198,238)<br>
            13: 197,193 (total 1,395,431)<br>
            14: 222,761 (total 1,618,192)<br>
            15: 251,951 (total 1,870,143)<br>
            16: 285,318 (total 2,155,461)<br>
            17: 323,506 (total 2,478,967)<br>
            18: 367,266 (total 2,846,233)<br>
            19: 417,475 (total 3,263,708)<br>
            20: 475,156 (total 3,738,864)<br>
            21: 541,507 (total 4,280,371)<br>
            22: 617,931 (total 4,898,302)<br>
            23: 706,072 (total 5,604,374)<br>
            24: 807,862 (total 6,412,236)<br>
            25: 925,572 (total 7,337,808)<br>
            26: 1,061,877 (total 8,399,685)<br>
            27: 1,219,930 (total 9,619,615)<br>
            28: 1,403,454 (total 11,023,069)<br>
            29: 1,616,851 (total 12,639,920)<br>
            30: 1,865,334 (total 14,505,254)
        </p>
    </details>

    {% for building in buildings %}
        {% if building.is_upgradable %}
            {% include "maingame/components/building_card.html" with show_upgrades=True %}
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
