{% extends "base.html" %}
{% load humanize %}
{% load extra_tags %}

{% block title %}The World{% endblock %}

{% block content %}
<div>
    {% if active_player.show_tutorials %}
    <p>These are all the players at the moment. Yours is the one with the green background. Anyone still in a state of magical protection has teal text.</p>
    <p>You can click the info button next to anyone's name to see an overview of their dominion.</p>
    <p>When someone makes an invasion, the units they send take 12 ticks to return home, leaving them more vulnerable to attack in the meantime.</p>
    <p>
        Every tick, a dominion gains 1 complacency, giving -0.5% defense each. Complacency resets when that dominion gets invaded and halves when that dominion
        successfully invades another.
    </p>
    {% endif %}
    <table class="table striped max-w-md">
        <thead>
            <tr>
                <th>Name</th>
                <th>Faction</th>
                <th>Acres</th>
                <th>Defense</th>
                {% if "book_of_grudges" in active_player.perk_dict %}
                <th>Book of Grudges</th>
                {% endif %}
                <th>Complacency</th>
                <th>Units returning</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr class="{% if player.id == active_player.id %}bg-green-900 {% endif %}{% if player.protection_ticks_remaining > 0 %}text-teal-400{% else %}{% endif %}">
                    <th class="u-align-middle">{{ player.name }}</th>
                    <th class="u-align-middle">{{ player.faction_name|title }}</th>
                    <td class="u-align-middle">{{ player.acres }}</td>
                    <td class="u-align-middle">{% if player.protection_ticks_remaining == 0 and round.has_started %}{{ player.defense|intcomma }}{% else %}Magical protection{% endif %}</th>
                    {% if "book_of_grudges" in active_player.perk_dict %}
                    <td class="u-align-middle">
                        {% if player.strid in active_player.perk_dict.book_of_grudges %}
                        {{ active_player.perk_dict.book_of_grudges|getattr:player.strid|getattr:"pages" }} pages,
                        +{{ active_player.perk_dict.book_of_grudges|getattr:player.strid|getattr:"animosity" }}% OP
                        {% else %}
                        None
                        {% endif %}
                    </td>
                    {% endif %}
                    <td class="u-align-middle">{{ player.complacency|intcomma }}</td>
                    <td class="u-align-middle">{% if player.has_units_returning %}Yes{% else %}No{% endif %}</td>
                    <td class="u-align-middle">
                    {% if player.protection_ticks_remaining == 0 %}
                        <a href="{% url 'overview' player.id %}">
                            <button class="py-0">Info</button>
                        </a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
