{% extends "base.html" %}
{% load humanize %}
{% load extra_tags %}

{% block title %}The World{% endblock %}

{% block tutorial %}
{% include "maingame/tutorial_text.html" with page="world" %}
{% endblock %}

{% block content %}
<div>
    <details class="accordion card card_colors max-w-md">
        <summary class="accordion__summary">Details</summary>
            <p>
                These are all the dominions at the moment. When someone makes an invasion, the units they send take 12 ticks to return home, leaving 
                them more vulnerable to attack in the meantime. The land they conquer also takes 12 ticks to arrive and they can't attack again until
                it does.
            </p>
            <p>
                On an invasion, the attacker takes 10% casualties if they win and 15% casualties if they lose. The defender takes 5% casualties if 
                they lose, 2% casualties if they win, and no casualties if the offense less than half the defense. Of course, the attacker will likely
                win because the total offense and defense are both public information.
            </p>
            <p>
                Every tick, a dominion gains -0.5% defense. This resets when that dominion gets invaded. Also gain grudges against anyone who invades
                them, slowly increasing their offense against their previous attackers until they finally retaliate, at which point their grudge against
                that particular dominion is cleared.
            </p>
    </details>

    <div class="u-overflow-x-scroll u-overflow-x-auto-md pr-2 max-w-md">
        <table class="table striped max-w-md">
            <thead>
                <tr class="header_colors">
                    <th class="u-align-middle">
                        <div class="u-flex u-flex-column">
                            <span>Dominion</span>
                            <small>Click for overview</small>
                        </div>
                    </th>
                    <th class="u-align-middle">Land</th>
                    <th class="u-align-middle">Defense</th>
                    <th class="u-align-middle">Bonuses</th>
                    <th class="u-align-middle">Your perks</th>
                    <th class="u-align-middle">Highest OP</th>
                    <th class="u-align-middle">Their perks</th>
                    <th class="u-align-middle">OP quested</th>
                    <th class="u-align-middle" style="white-space: nowrap;">W/L</th>
                </tr>
            </thead>
            <tbody>
                {% for dominion in dominions %}
                <tr class="{% if dominion == active_dominion %}font-bold{% endif %}">

                    {% comment %} Dominion {% endcomment %}
                    <td class="u-align-middle">
                        <div class="u-flex u-flex-column">
                            <a class="font-bold" href="{% url 'overview' dominion.id %}">{{ dominion.name }}</a>
                            <a href="{% url 'overview' dominion.id %}"><small class="{% if dominion == active_dominion %}font-bold{% endif %}">{{ dominion.rulers_display_name }}</small></a>
                            <a href="{% url 'overview' dominion.id %}"><small class="{% if dominion == active_dominion %}font-bold{% endif %}">{{ dominion.faction_name|title }}</small></a>
                        </div>
                    </td>

                    {% comment %} Land {% endcomment %}
                    <td class="u-align-middle">
                        {% include "maingame/current_incoming.html" with current=dominion.acres incoming=dominion.incoming_acres %}
                    </td>

                    {% comment %} Defense {% endcomment %}
                    <td class="u-align-middle">
                        <div class="u-flex u-flex-column">
                            {% if dominion.defense < active_dominion.juicy_target_threshold and dominion.is_oop and round.has_started %}
                            <span class="tag tag--danger py-0 mx-auto text-md">{{ dominion.defense_short }}</span>
                            {% else %}
                            <span class="u-center {% if dominion.protection_ticks_remaining > 0 or not round.has_started %}text-teal-400{% endif %}">
                                {% if dominion.is_oop and round.has_started %}
                                {{ dominion.defense_short }}
                                {% else %}
                                Magical protection
                                {% endif %}
                            </span>
                            {% endif %}
                            
                            {% if dominion.incoming_acres > 0 %}
                            <small>Army returns in {{ dominion.ticks_til_all_acres_return }} ticks</small>
                            {% endif %}
                        </div>
                    </td>

                    {% comment %} Complacency/Determination {% endcomment %}
                    <td class="u-align-middle">
                        <div class="u-flex u-flex-column">
                            <span style="white-space:nowrap">+{{ dominion.determination_bonus_percent|floatformat:0 }}% OP</span>
                            <span style="white-space:nowrap">-{{ dominion.complacency_penalty_percent|floatformat:0 }}% DP</span>
                        </div>
                    </td>

                    {% comment %} Your faction {% endcomment %}
                    {% if "book_of_grudges" in active_dominion.perk_dict %}
                        {% if dominion.strid in active_dominion.perk_dict.book_of_grudges %}
                            <td class="u-align-middle">
                                <div class="u-flex u-flex-column u-center w-16">
                                    <span>
                                        {{ active_dominion.perk_dict.book_of_grudges|getattr:dominion.strid|getattr:"pages" }} page{% if active_dominion.perk_dict.book_of_grudges|getattr:dominion.strid|getattr:"pages" > 1 %}s{% endif %}
                                    </span>
                                    <span>+{{ active_dominion.perk_dict.book_of_grudges|getattr:dominion.strid|getattr:"animosity"|floatformat:"1" }}% OP</span>
                                </div>
                            </td>
                        {% elif dominion == active_dominion %}
                            <td class="u-align-middle">-</td>
                        {% else %}
                            <td class="u-align-middle">None</td>
                        {% endif %}
                    {% elif "infiltration_dict" in active_dominion.perk_dict %}
                        {% if dominion.strid in active_dominion.perk_dict.infiltration_dict %}
                            <td class="u-align-middle">
                                <div class="u-flex u-flex-column u-center w-16">
                                    <span>
                                        +{{ active_dominion.perk_dict.infiltration_dict|getattr:dominion.strid|intcomma }} OP
                                    </span>
                                </div>
                            </td>
                        {% elif dominion == active_dominion %}
                            <td class="u-align-middle">
                                {% if dominion.ticks_til_all_units_return > 0 %}
                                    <small>Infiltrators return in {{ dominion.ticks_til_all_units_return }} ticks</small>
                                {% else %}
                                    <span>-</span>
                                {% endif %}
                            </td>
                        {% else %}
                            <td class="u-align-middle">None</td>
                        {% endif %}
                    {% else %}
                        <td class="u-align-middle">-</td>
                    {% endif %}

                    {% comment %} Highest OP {% endcomment %}
                    <td class="u-align-middle">{{ dominion.highest_op_short }}</td>

                    {% comment %} Their faction {% endcomment %}
                    {% if "book_of_grudges" in dominion.perk_dict %}
                        {% if active_dominion.strid in dominion.perk_dict.book_of_grudges %}
                            <td class="u-align-middle">
                                <div class="u-flex u-flex-column u-center w-16">
                                    <span>
                                        {{ dominion.perk_dict.book_of_grudges|getattr:active_dominion.strid|getattr:"pages" }} page{% if dominion.perk_dict.book_of_grudges|getattr:active_dominion.strid|getattr:"pages" > 1 %}s{% endif %}
                                    </span>
                                    <span>+{{ dominion.perk_dict.book_of_grudges|getattr:active_dominion.strid|getattr:"animosity"|floatformat:"1" }}% OP</span>
                                </div>
                            </td>
                        {% elif dominion == active_dominion %}
                            <td class="u-align-middle">-</td>
                        {% else %}
                            <td class="u-align-middle">None</td>
                        {% endif %}
                    {% elif "infiltration_dict" in dominion.perk_dict %}
                        {% if active_dominion.strid in dominion.perk_dict.infiltration_dict %}
                            <td class="u-align-middle">
                                <div class="u-flex u-flex-column u-center w-16">
                                    <span>
                                        +{{ dominion.perk_dict.infiltration_dict|getattr:active_dominion.strid|intcomma }} OP
                                    </span>
                                    {% if dominion.ticks_til_all_units_return > 0 %}
                                        <small>Infiltrators return in {{ dominion.ticks_til_all_units_return }} ticks</small>
                                    {% endif %}
                                </div>
                            </td>
                        {% elif dominion == active_dominion %}
                            <td class="u-align-middle">-</td>
                        {% else %}
                            <td class="u-align-middle">None</td>
                        {% endif %}
                    {% else %}
                        <td class="u-align-middle">-</td>
                    {% endif %}

                    {% comment %} OP quested {% endcomment %}
                    <td class="u-align-middle">
                        <div class="u-flex u-flex-column">
                            <span>
                                {{ dominion.op_quested_short }}
                            </span>
                            {% if dominion.has_artifacts %}
                                <span class="text-xs">{{ dominion.artifact_count }} {{ "artifacts"|depluralize:dominion.artifact_count }}</span>
                            {% endif %}
                        </div>
                    </td>

                    {% comment %} W/L {% endcomment %}
                    <td class="u-align-middle" style="white-space:nowrap">{{ dominion.successful_invasions }}-{{ dominion.failed_defenses }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% comment %} Artifact list {% endcomment %}
    <details class="accordion card card_colors max-w-md">
        <summary class="accordion__summary">Artifacts</summary>
        <div class="u-flex u-flex-column">
        {% for dominion in dominions %}
            {% if dominion.has_artifacts %}
                <div class="u-flex u-flex-column pt-2">
                    <span class="font-bold">{{ dominion.name }}</span>
                    <span>{{ dominion.rulers_display_name }}, {{ dominion.faction_name }}</span>
                    <div>
                        {% for artifact in dominion.artifacts_owned %}
                            <div class="u-flex u-flex-column">
                                <em>{{ artifact.name }}</em>
                                <span class="text-sm">{{ artifact.description }}</span>
                            <div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </details>


    {% comment %} GSF infiltration {% endcomment %}
    {% if active_dominion.faction_name == "gnomish special forces" %}
    <div class="max-w-md">
        <div class="form-ext-control pl-0 w-24 u-center">
            <label class="form-ext-toggle__label u-flex u-flex-row u-gap-2">
                <span>Infiltration</span>
                <div class="form-ext-toggle">
                    <input name="show_infiltration" id="showInfiltrationToggle" type="checkbox" class="form-ext-input" onclick="toggleInfiltrate()" />
                    <div class="form-ext-toggle__toggler"><i></i></div>
                </div>
            </label>
        </div>
    </div>
    {% endif %}

    <form action="{% url 'submit_infiltration' %}" method="post" class="max-w-md u-overflow-x-scroll u-overflow-x-auto-md u-none" id="infiltrationForm">
        {% csrf_token %}
        <div class="u-flex u-flex-row u-center py-2">
            <select class="max-w-xs" name="target_dominion_id" id="infiltration_target_select_dropdown" oninput="updateInfiltrateOffense();">
                <option value="0">Select a target to infiltrate</option>
                {% for dominion in dominions %}
                {% if dominion != active_dominion and dominion.is_oop and not dominion.is_abandoned %}
                <option value="{{ dominion.id }}">{{ dominion.name }} ({{ dominion.acres|intcomma }} acres, {{ dominion.acres|percent_of:active_dominion.acres }}%) {{ dominion.defense_short }} DP</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <div>
            <span class="u-center">Infiltrations reduce DP against your next attack.</span>
        </div>
        <table class="table striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>At home</th>
                    <th class="w-16">Send</th>
                </tr>
            </thead>
            <tbody>
                {% for unit in my_units %}
                {% if unit.op > 0 and "invasion_plan_power" in unit.perk_dict %}
                <tr>
                    {% include "maingame/unit_name_row.html" %}
                    <td class="u-align-middle">{{ unit.quantity_at_home|intcomma }}</td>
                    <td class="u-align-middle u-flex-md u-flex-row-md">
                        <input 
                            name="infiltrate_{{ unit.id }}" 
                            id="infiltrate_{{ unit.id }}" 
                            type="number" 
                            min="0"
                            max="{{ unit.quantity_at_home }}" 
                            class="w-12 w-16-md ml-auto-md mr-2-md infiltration_unitInput"
                            oninput="updateInfiltrateOffense()"
                        >
                        <button type="button" class="header_colors u-center" onclick="infiltrateMax('{{ unit.id }}', '{{ unit.quantity_at_home }}')">
                            Max
                        </button>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <div>
            <div id="infiltration_readoutSection" class="u-center u-gap-1">
                <span>Reduce DP against your next attack by</span>
                <span id="opToInfiltrate">0</span>
            </div>

            <div class="u-center u-flex u-gap-1" id="infiltration_dpLeftText">
                <span>You'll have</span>
                <span id="infiltration_dpLeft">{{ active_dominion.defense }}</span>
                <span>defense after infiltrating</span>
            </div>

            <div class="u-center u-flex u-flex-column">
                <span id="infiltrateLargerEnemyHasLowerDefense" hidden>✅ an enemy larger than you has lower defense</span>
                <span id="infiltrateYouHaveTheLowestDefense" hidden>❌ you'll have the lowest DP in the game</span>
            </div>

            <input type="number" id="infiltration_dpLeftHidden" name="infiltration_dpLeftHidden" hidden value="{{ active_dominion.defense }}" />
        </div>
        <div style="display: none;">
            <input type="submit" name="prevent-enter-submit" onclick="return false;">
        </div>

        <button class="btn-danger mt-1 w-24 h-6 p-0 u-center" type="submit" id="infiltrateButton" disabled>
            <span id="infiltrateButtonText" class="font-bold" disabled>Submit</span>
        </button>
    </form>


    {% comment %} Invasion form {% endcomment %}
    <div id="invasionForm">
        {% if not active_dominion.can_attack %}
        <div class="max-w-md">
            <div class="u-flex u-flex-column u-gap-1 u-center">
                <h6>You can't invade right now.</h6>
            </div>
        </div>
        {% elif active_dominion.can_attack and round.has_started and not round.has_ended %}
        <form action="{% url 'submit_invasion' %}" method="post" class="max-w-md u-overflow-x-scroll u-overflow-x-auto-md">
            {% csrf_token %}
            <div class="u-flex u-flex-row u-center py-2">
                <select class="max-w-xs" name="target_dominion_id" id="target_select_dropdown" oninput="updateTargetDefense(); updateOffenseToSend();">
                    <option value="0">Select a target to plan an invasion or quest</option>
                    <option value="quest">Quest</option>
                    {% for dominion in dominions %}
                    {% if dominion != active_dominion and dominion.is_oop and not dominion.is_abandoned %}
                    <option value="{{ dominion.id }}">{{ dominion.name }} ({{ dominion.acres|intcomma }} acres, {{ dominion.acres|percent_of:active_dominion.acres }}%) {{ dominion.defense_short }} DP</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div>
                <span class="u-center" id="acre_count_placeholder">Invasions discover extra acres equal to the amount conquered.</span>
                <div class="u-none u-gap-1 u-center" id="acre_count_sentence" style="visibiliy: hidden;">
                    <span>This invasion would conquer</span>
                    <span id="acre_count_number">0</span>
                    <span>acres.</span>
                </div>
            </div>
            <table class="table striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Power</th>
                        <th>At home</th>
                        <th class="w-16">Send</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in my_units %}
                    {% if unit.op > 0 %}
                    <tr>
                        {% include "maingame/unit_name_row.html" %}
                        <td class="u-align-middle" id="power_{{ unit.id }}" style="white-space:nowrap">{{ unit.op|intcomma }} / {{ unit.dp|intcomma }}</td>
                        <td class="u-align-middle">{{ unit.quantity_at_home|intcomma }}</td>
                        <td class="u-align-middle u-flex-md u-flex-row-md">
                            <input 
                                name="send_{{ unit.id }}" 
                                id="send_{{ unit.id }}" 
                                type="number" 
                                min="0"
                                max="{{ unit.quantity_at_home }}" 
                                class="w-12 w-16-md ml-auto-md mr-2-md unitInput"
                                oninput="updateOffenseToSend()"
                            >
                            <button type="button" class="header_colors u-center" onclick="sendMax('{{ unit.id }}', '{{ unit.quantity_at_home }}')">
                                Max
                            </button>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <div id="readoutSection" class="u-center u-none u-gap-1 text-red-400">
                    <span id="opToSend">0</span>
                    <span>OP</span>
                    <div id="nonQuestReadoutPart" class="u-flex u-gap-1">
                        <span>vs.</span>
                        <span id="dpHere">0</span>
                        <span> DP</span>
                    </div>
                </div>

                <div class="u-center u-flex u-gap-1" id="dpLeftText">
                    <span>You'll have</span>
                    <span id="dpLeft">{{ active_dominion.defense }}</span>
                    <span>defense after attacking</span>
                </div>

                <div id="stealChanceSection" class="u-center u-none u-gap-1">
                    <span id="stealChance">0</span>
                    <span>% chance to steal an artifact</span>
                </div>

                <div id="questChanceSection" class="u-center u-none u-gap-1">
                    <span id="questChance">0</span>
                    <span>% chance to find an artifact</span>
                </div>

                <div class="u-center u-flex u-flex-column">
                    <span id="largerEnemyHasLowerDefense" hidden>✅ an enemy larger than you has lower defense</span>
                    <span id="youHaveTheLowestDefense" hidden>❌ you'll have the lowest DP in the game</span>
                </div>

                <input type="number" id="dpLeftHidden" name="dpLeftHidden" hidden value="{{ active_dominion.defense }}" />
            </div>
            <div style="display: none;">
                <input type="submit" name="prevent-enter-submit" onclick="return false;">
            </div>

            {% comment %} <marquee
                direction="down"
                width="1000"
                height="150"
                behavior="alternate"
                style="border:solid">
                <marquee behavior="alternate"><span id="bigscreen-time" class="u-center font-bold">
                    <button class="btn-danger mt-1 w-24 h-6 p-0 u-center" type="submit">
                        <span id="invadeButtonText" class="font-bold">Invade</span>
                    </button></span>
                </marquee>
            </marquee> {% endcomment %}
            {% comment %} <textarea placeholder="Smack talk"></textarea> {% endcomment %}

            <button class="btn-danger mt-1 w-24 h-6 p-0 u-center" type="submit" id="invadeButton" disabled>
                <span id="invadeButtonText" class="font-bold" disabled>Submit</span>
            </button>
        </form>
        {% endif %}
    </div>

    {% include "maingame/world_js.html" %}
</div>
{% endblock %}
