<script>
    function sendMax(unit_id, quantity_at_home) {
        let thisInput = document.getElementById("send_" + unit_id);

        if (thisInput.value == quantity_at_home) {
            thisInput.value = ""
        } else {
            thisInput.value = quantity_at_home;
        }

        thisInput.dispatchEvent(new Event("input", { bubbles: true }));
    }

    function infiltrateMax(unit_id, quantity_at_home) {
        let thisInput = document.getElementById("infiltrate_" + unit_id);
        if (thisInput.value == quantity_at_home) {
            thisInput.value = ""
        } else {
            thisInput.value = quantity_at_home;
        }
    }
</script>