<script>
    const rawDefense = JSON.parse('{{ raw_defense|escapejs }}');
    const defenseMultiplier = JSON.parse('{{ defense_multiplier|escapejs }}');
    const minimumDefenseLeft = JSON.parse('{{ minimum_defense_left|escapejs }}');
    const lowestDefenseLargerThanYou = JSON.parse('{{ lowest_defense_larger_than_you|escapejs }}');
    const lowestDefenseInTheGame = JSON.parse('{{ lowest_defense_in_game|escapejs }}');
    const myOpQuested = JSON.parse('{{ active_dominion.op_quested|escapejs }}');
    const myAcres = JSON.parse('{{ active_dominion.acres|escapejs }}');
    const highestOpQuested = JSON.parse('{{ highest_op_quested|escapejs }}');

    function sendMax(unit_id, quantity_at_home) {
        let thisInput = document.getElementById("send_" + unit_id);
        if (thisInput.value == quantity_at_home) {
            thisInput.value = ""
        } else {
            thisInput.value = quantity_at_home;
        }

        updateOffenseToSend()
    }

    function updateTargetDefense() {
        const currentDefenseDict = JSON.parse('{{ current_defense_dict|escapejs }}');
        const landConqueredDict = JSON.parse('{{ land_conquered_dict|escapejs }}');
        const targetId = document.getElementById("target_select_dropdown").value;
        const invadeButton = document.getElementById("invadeButton")
        const dpHereReadout = document.getElementById("dpHere");
        const acreCountPlaceholder = document.getElementById("acre_count_placeholder");
        const acreCountSentence = document.getElementById("acre_count_sentence");
        const acreCountNumber = document.getElementById("acre_count_number");

        dpHereReadout.innerHTML = currentDefenseDict[targetId];
        invadeButton.disabled = targetId == 0
        
        if (targetId == 0 || targetId == "quest") {
            acreCountPlaceholder.classList.remove("u-none")
            acreCountSentence.classList.add("u-none")
            acreCountSentence.classList.remove("u-flex")
            acreCountSentence.classList.remove("u-flex-wrap")
        } else {
            acreCountPlaceholder.classList.add("u-none")
            acreCountSentence.classList.remove("u-none")
            acreCountSentence.classList.add("u-flex")
            acreCountSentence.classList.add("u-flex-wrap")
            acreCountNumber.innerHTML = landConqueredDict[targetId]
        }
    }

    function updateOffenseToSend() {
        const offense_multiplier_dict = JSON.parse('{{ offense_multiplier_dict|escapejs }}');
        const baseOffenseMultiplier = JSON.parse('{{ base_offense_multiplier|escapejs }}');
        const artifactCountDict = JSON.parse('{{ artifact_count_dict|escapejs }}');
        const stealChanceMultiplier = {{ active_dominion.artifact_steal_chance_multiplier }}
        const targetId = document.getElementById("target_select_dropdown").value;
        const invadeButton = document.getElementById("invadeButton")

        let opReadout = document.getElementById("opToSend");
        let dpLeftReadout = document.getElementById("dpLeft");
        let dpLeftReadoutHidden = document.getElementById("dpLeftHidden");
        let dpLeftText = document.getElementById("dpLeftText");
        let dpHere = document.getElementById("dpHere").innerHTML;
        dpHere = parseInt(dpHere.replace(',', ''));
        let readoutSection = document.getElementById("readoutSection");
        let nonQuestReadoutSection = document.getElementById("nonQuestReadoutPart");
        let stealChanceSection = document.getElementById("stealChanceSection");
        let stealChance = document.getElementById("stealChance");
        let questChanceSection = document.getElementById("questChanceSection");
        let questChance = document.getElementById("questChance");
        let invadeButtonText = document.getElementById("invadeButtonText");
        let unitInputs = document.getElementsByClassName("unitInput")

        let totalOp = 0
        let dpSent = 0

        for (const [key, value] of Object.entries(unitInputs)) {
            unitId = value.id.substr(5)
            let op = document.getElementById("power_" + unitId).innerHTML.split("/")[0]
            let dp = document.getElementById("power_" + unitId).innerHTML.split("/")[1]
            op = parseInt(op.replace(/,/g, ''))
            dp = parseInt(dp.replace(/,/g, ''))
            totalOp = totalOp + value.value * op
            dpSent = dpSent + value.value * dp
        }

        let offense_multiplier = baseOffenseMultiplier
        if (targetId != 0 && targetId != "quest") {
            offense_multiplier = offense_multiplier_dict[targetId]
        }

        totalOp = Math.floor(totalOp * offense_multiplier)
        opReadout.innerHTML = totalOp
        const newOpQuested = myOpQuested + totalOp
        const newOpQuestedPerAcre = newOpQuested / myAcres
        const questOpRatio = newOpQuestedPerAcre / highestOpQuested
        
        const dpLeft = Math.floor((rawDefense - dpSent) * defenseMultiplier)
        dpLeftReadout.innerHTML = dpLeft
        dpLeftReadoutHidden.value = dpLeft

        if (targetId == 0) {
            stealChanceSection.classList.add("u-none")
            stealChanceSection.classList.remove("u-flex")
            questChanceSection.classList.add("u-none")
            questChanceSection.classList.remove("u-flex")
            readoutSection.classList.remove("u-none")
            readoutSection.classList.add("u-flex")
            nonQuestReadoutSection.classList.add("u-none")
            nonQuestReadoutSection.classList.remove("u-flex")
            readoutSection.classList.remove("text-red-400")
            readoutSection.classList.add("text-green-400")
            invadeButtonText.classList.remove("text-red-400")
            invadeButton.disabled = true
        } else if (targetId == "quest") {
            stealChanceSection.classList.add("u-none")
            stealChanceSection.classList.remove("u-flex")
            questChanceSection.classList.remove("u-none")
            questChanceSection.classList.add("u-flex")
            readoutSection.classList.remove("u-none")
            readoutSection.classList.add("u-flex")
            nonQuestReadoutSection.classList.add("u-none")
            nonQuestReadoutSection.classList.remove("u-flex")
            readoutSection.classList.remove("text-red-400")
            readoutSection.classList.add("text-green-400")
            invadeButtonText.classList.remove("text-red-400")
            invadeButton.disabled = false
            let questChanceNumber = Math.min(20, 20 * questOpRatio)
            questChanceNumber = Math.max(1, questChanceNumber)
            questChanceNumber = Math.round(questChanceNumber * 10) / 10
            questChance.innerHTML = questChanceNumber
        } else if (totalOp >= dpHere) {
            stealChanceSection.classList.add("u-none")
            stealChanceSection.classList.remove("u-flex")
            questChanceSection.classList.add("u-none")
            questChanceSection.classList.remove("u-flex")
            nonQuestReadoutSection.classList.remove("u-none")
            nonQuestReadoutSection.classList.add("u-flex")
            readoutSection.classList.remove("text-red-400")
            readoutSection.classList.remove("u-none")
            readoutSection.classList.add("text-green-400")
            readoutSection.classList.add("u-flex")
            invadeButtonText.classList.remove("text-red-400")
            invadeButton.disabled = false

            if (artifactCountDict[targetId] > 0) {
                stealChanceSection.classList.remove("u-none")
                stealChanceSection.classList.add("u-flex")
                percentChance = Math.floor(((totalOp / dpHere) - 1) * 100 * stealChanceMultiplier)
                stealChance.innerHTML = Math.min(100, percentChance)
            }
        } else {
            stealChanceSection.classList.add("u-none")
            stealChanceSection.classList.remove("u-flex")
            questChanceSection.classList.add("u-none")
            questChanceSection.classList.remove("u-flex")
            nonQuestReadoutSection.classList.remove("u-none")
            nonQuestReadoutSection.classList.add("u-flex")
            readoutSection.classList.remove("u-none")
            readoutSection.classList.remove("text-green-400")
            readoutSection.classList.add("text-red-400")
            readoutSection.classList.add("u-flex")
            invadeButtonText.classList.add("text-red-400")
            invadeButton.disabled = true
        }

        if (dpLeft < minimumDefenseLeft) {
            dpLeftText.classList.add("text-red-400")
        } else {
            dpLeftText.classList.remove("text-red-400")
        }

        let largerEnemyHasLowerDefenseReadout = document.getElementById("largerEnemyHasLowerDefense");
        let youHaveTheLowestDefenseReadout = document.getElementById("youHaveTheLowestDefense");

        if (dpLeft > lowestDefenseLargerThanYou) {
            largerEnemyHasLowerDefenseReadout.hidden = false
        } else {
            largerEnemyHasLowerDefenseReadout.hidden = true
        }

        if (dpLeft < lowestDefenseInTheGame) {
            youHaveTheLowestDefenseReadout.hidden = false
        } else {
            youHaveTheLowestDefenseReadout.hidden = true
        }
    }

    function updateDefenseHere(regionDefense) {
        const regionDefenstInt = parseInt(regionDefense)
        let dpReadout = document.getElementById("dp-left");
        const unitHereInputs = document.getElementsByClassName("unitHereInput")
        let totalLostDp = 0

        for (const [key, value] of Object.entries(unitHereInputs)) {
            unitId = value.id.substr(8)
            const dp = document.getElementById("power_" + unitId).innerHTML.split("/")[1]
            totalLostDp = totalLostDp + value.value * dp
        }

        defenseLeft = regionDefenstInt - totalLostDp

        dpReadout.innerHTML = defenseLeft

        let largerEnemyHasLowerDefenseReadout = document.getElementById("largerEnemyHasLowerDefense");
        let youHaveTheLowestDefenseReadout = document.getElementById("youHaveTheLowestDefense");

        if (defenseLeft > lowestDefenseLargerThanYou) {
            largerEnemyHasLowerDefenseReadout.hidden = false
        } else {
            largerEnemyHasLowerDefenseReadout.hidden = true
        }

        if (defenseLeft < lowestDefenseInTheGame) {
            youHaveTheLowestDefenseReadout.hidden = false
        } else {
            youHaveTheLowestDefenseReadout.hidden = true
        }
    }
</script>