{% extends "base.html" %}
{% load humanize %}
{% load extra_tags %}

{% block title %}The World{% endblock %}

{% block tutorial %}
{% include "maingame/tutorial_text.html" with page="world" %}
{% endblock %}

{% block content %}
<div>
    <details class="accordion card card_colors max-w-md">
        <summary class="accordion__summary">Details</summary>
        <p>
            These are all the dominions at the moment. When someone makes an invasion, the units they send take 12 ticks to return home, leaving 
            them more vulnerable to attack in the meantime. The land they conquer also takes 12 ticks to arrive and they can't attack again until
            it does. On an invasion, the attacker takes 10% casualties and the defender takes 5% casualties.
        </p>
        <p>
            Every tick, a dominion gains -0.33% defense. This resets when that dominion gets invaded. They also gain +0.33 offense, resetting when
            they successfully make an invasion.
        </p>

        <script type="text/javascript">
            window.onload = function () {
                var chart = new CanvasJS.Chart("chartContainer",
                {
                    legend: {
                        maxWidth: 350,
                        itemWidth: 120
                    },
                    data: [
                        {
                            type: "pie",
                            legendText: "{indexLabel}",
                            dataPoints: [
                                {% for faction_count_dict in round.faction_count_list %}
                                    {% if faction_count_dict.count > 0 %}
                                        { y: {{ faction_count_dict.count }}, indexLabel: "{{ faction_count_dict.name|title }}" },
                                    {% endif %}
                                {% endfor %}
                            ]
                        }
                    ]
                });
                chart.render();
            }
        </script>
        <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>

    </details>

    {% include "maingame/components/dominion_list.html" with this_dominion=active_dominion all_dominions=dominions my_view=True %}

    {% comment %} Invasion form {% endcomment %}
    <div id="invasionForm">
        {% if not active_dominion.can_attack %}
        <div class="max-w-md">
            <div class="u-flex u-flex-column u-gap-1 u-center">
                <h6>You can't invade right now.</h6>
            </div>
        </div>
        {% elif active_dominion.can_attack and round.has_started and not round.has_ended %}
        <form 
            action="{% url 'submit_invasion' %}" 
            method="post" 
            class="max-w-md u-overflow-x-scroll md:u-overflow-x-auto"
            hx-get="/calculate_op"
            hx-trigger="input changed"
            hx-target="#readoutSection"
        >
            {% csrf_token %}

            {% if active_dominion.faction_name == "gnomish special forces" %}
                <div class="max-w-md">
                    <div class="form-ext-control pl-0 w-24 u-center">
                        <label class="form-ext-toggle__label u-flex u-flex-row u-gap-2">
                            <span>Infiltration</span>
                            <div class="form-ext-toggle">
                                <input 
                                    name="do_infiltration" 
                                    type="checkbox" 
                                    class="form-ext-input" 
                                    hx-get="/calculate_op"
                                    hx-trigger="change"
                                    hx-target="#readoutSection"
                                />
                                <div class="form-ext-toggle__toggler"><i></i></div>
                            </div>
                        </label>
                    </div>
                </div>
            {% endif %}

            <div class="u-flex u-flex-row u-center py-2">
                <select 
                    class="max-w-xs" 
                    name="target_dominion_id" 
                    id="target_select_dropdown" 
                >
                    <option value="0">Select a target to plan an invasion</option>
                    {% for dominion in dominions %}
                        {% if dominion != active_dominion and dominion.is_oop and not dominion.is_abandoned %}
                            <option value="{{ dominion.id }}">{{ dominion.name }} ({{ dominion.acres|intcomma }} acres, {{ dominion.acres|percent_of:active_dominion.acres }}%) {{ dominion.defense_short }} DP</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div>
                <span class="u-center" id="acre_count_placeholder">Invasions discover extra acres equal to the amount conquered.</span>
                <div class="u-none u-gap-1 u-center" id="acre_count_sentence">
                    <span>This invasion would conquer</span>
                    <span id="acre_count_number">0</span>
                    <span>acres.</span>
                </div>
            </div>
            <table class="table striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Power</th>
                        <th>At home</th>
                        <th class="w-16">Send</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in my_units %}
                    {% if unit.op > 0 %}
                    <tr>
                        {% include "maingame/components/unit_name_row.html" %}
                        <td class="u-align-middle" id="power_{{ unit.id }}" style="white-space:nowrap">{{ unit.op|intcomma }} / {{ unit.dp|intcomma }}</td>
                        <td class="u-align-middle">{{ unit.quantity_at_home|intcomma }}</td>
                        <td class="u-align-middle md:u-flex md:u-flex-row">
                            <input 
                                name="send_{{ unit.id }}" 
                                id="send_{{ unit.id }}" 
                                type="number" 
                                min="0"
                                max="{{ unit.quantity_at_home }}" 
                                class="w-12 md:w-16 md:ml-auto md:mr-2 unitInput"
                            >
                            <button 
                                type="button" 
                                class="header_colors u-center" 
                                onclick="sendMax('{{ unit.id }}', '{{ unit.quantity_at_home }}')"
                            >
                                Max
                            </button>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <div id="readoutSection">
                {% include "maingame/components/op_vs_dp.html" with op=0 dp=0 dp_left=active_dominion.defense invalid_invasion=True %}
            </div>
        </form>
        {% endif %}
    </div>
</div>

<script>
    function sendMax(unit_id, quantity_at_home) {
        let thisInput = document.getElementById("send_" + unit_id);

        if (thisInput.value == quantity_at_home) {
            thisInput.value = ""
        } else {
            thisInput.value = quantity_at_home;
        }

        thisInput.dispatchEvent(new Event("input", { bubbles: true }));
    }

    function infiltrateMax(unit_id, quantity_at_home) {
        let thisInput = document.getElementById("infiltrate_" + unit_id);
        if (thisInput.value == quantity_at_home) {
            thisInput.value = ""
        } else {
            thisInput.value = quantity_at_home;
        }
    }
</script>
{% endblock %}


{% comment %} <marquee
    direction="down"
    width="1000"
    height="150"
    behavior="alternate"
    style="border:solid">
    <marquee behavior="alternate"><span id="bigscreen-time" class="u-center font-bold">
        <button class="btn-danger mt-1 w-24 h-6 p-0 u-center" type="submit">
            <span id="invadeButtonText" class="font-bold">Invade</span>
        </button></span>
    </marquee>
</marquee> {% endcomment %}
{% comment %} <textarea placeholder="Smack talk"></textarea> {% endcomment %}